{{!-- Entradas --}}
<section class="pt-7 pt-md-10 bg-light">
    <div class="container">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold">
            Últimas entradas
        </h2>

        <!-- ||| Entradas del Blog ||| -->
        <div class="row">

            {{#each blogPosts}}
            <!-- /// Entrada 1 /// -->
            <div class="col-12 col-lg-4 d-flex">

                <!-- Card -->
                <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">

                    <!-- Imagen -->
                    <a class="card-zoom" href="#!">
                        <img src="/img/photos/blog1.jpg" alt="..." class="img-fluid card-img-top">
                    </a>

                    <!-- Shape -->
                    <div class="position-relative">
                        <div class="shape shape-fluid-x shape-bottom svg-shim text-white">
                            <svg viewBox="0 0 2880 48" fill="none">
                                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor" />
                            </svg>
                        </div>
                    </div>

                    <!-- Body -->
                    <a class="card-body" href="#!">

                        <!-- Categoría de la entrada -->
                        <div class="position-relative text-right mt-n8 mr-n4 mb-3">
                            <span class="badge badge-pill badge-primary">
                                <span class="h6 text-uppercase">Neuropsicología</span>
                            </span>
                        </div>

                        <!-- Heading -->
                        <h3> {{title}} </h3>

                        <!-- Text -->
                        <p class="mb-0 text-muted">
                            {{content}}
                        </p>

                    </a>

                    <!-- Meta -->
                    <a class="card-meta mt-auto" href="#!">

                        <!-- Divisor -->
                        <hr class="card-meta-divider">

                        <!-- Avatar -->
                        <div class="avatar avatar-sm mr-2">
                            <img src="/img/photos/laurita.jpg" alt="Laura Marín Psicóloga Clínica Munay"
                                class="avatar-img rounded-circle">
                        </div>

                        <!-- Autor -->
                        <h6 class="text-uppercase text-muted mr-2 mb-0"> Laura Marín </h6>

                        <!-- Fecha -->
                        <p class="h6 text-uppercase text-muted mb-0 ml-auto">
                            <time datetime="2019-05-02">22 MARZO</time>
                        </p>

                        <i class="fe fe-calendar text-muted ml-2 mb-1"></i>
                    </a>

                </div>

            </div>
             {{/each}}

            <div class="col-12 col-lg-4 d-flex">
                <h3>{{title}}</h3>
            </div>
           
        </div> <!-- / .row -->

        <!-- ||| Entradas del Blog 2 ||| -->
        <div class="row mt-7">


        </div> <!-- / .row -->

        <!-- Pagination -->
        <nav aria-label="Cambio de pagina">
            <ul class="pagination justify-content-center py-10">

                <li class="page-item disabled">
                    <span class="page-link">Anterior</span>
                </li>

                <li class="page-item active">
                    <span class="page-link">
                        1
                        <span class="sr-only">(current)</span>
                    </span>
                </li>

                <li class="page-item"><a class="page-link" href="#">2</a></li>

                <li class="page-item"><a class="page-link" href="#">3</a></li>

                <li class="page-item">
                    <a class="page-link" href="#">Siguiente</a>
                </li>

            </ul>
        </nav>

    </div> <!-- / .container -->
</section>