<section class="d-flex align-items-center bg-auth border-top border-top-5 border-info py-15">

    <!-- CONTENT
    ================================================== -->
    <div class="container my-7">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 col-xl-4 my-6">

                <!-- Heading -->
                <h1 class="display-4 text-center my-3">
                    Login
                </h1>

                <!-- Form -->
                <form action="/dashboard/login" method="POST" class="mb-4">

                    <!-- Email address -->
                    <div class="form-group">

                        <!-- Label -->
                        <label>Usuario</label>

                        <!-- Input -->
                        <input type="text" name="username" value="{{username}}" class="form-control" placeholder="Nombre de usuario"
                            required>

                    </div>

                    <!-- Password -->
                    <div class="form-group">

                        <div class="row">
                            <div class="col">

                                <!-- Label -->
                                <label>Contraseña</label>

                            </div>
                            <div class="col-auto">

                                <!-- Help text -->
                                <a href="password-reset.html" class="form-text small text-muted">
                                    ¿Has olvidado tu contraseña?
                                </a>

                            </div>
                        </div> <!-- / .row -->

                        <!-- Input group -->
                        <div class="input-group input-group-merge">

                            <!-- Input -->
                            <input type="password" name="password" class="form-control form-control-appended"
                                placeholder="Introduce tu contraseña" required>

                            <!-- Icon -->
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fe fe-eye"></i>
                                </span>
                            </div>

                        </div>
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-lg btn-block btn-info mb-3">
                        Iniciar sesión
                    </button>

                    {{error}}

                </form>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>