<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-12 col-lg-10 col-xl-8">

                {{!-- Título --}}
                <div class="header mt-md-5">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col">

                                <h6 class="header-pretitle">
                                    Blog post
                                </h6>


                                <h1 class="header-title">
                                    Crear una nueva entrada
                                </h1>

                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Formulario --}}
                <form action="/dashboard/blog/nuevo-post" method="POST" enctype="multipart/form-data" class="mb-4">

                    {{!-- Título --}}
                    <div class="form-group">

                        <label> Título </label>

                        <input type="text" class="form-control" name="title" autofocus required />

                    </div>

                    {{!-- Descripción --}}
                    <div class="form-group">

                        <label class="mb-1"> Descripción </label>

                        <small class="form-text text-muted">
                            Máximo: 180 caracteres.
                        </small>

                        <textarea name="description" class="form-control" maxlength="180" rows="3" required>
                        </textarea>

                    </div>

                    {{!-- Cover --}}
                    <div class="form-group mb-4">
                        <label class="mb-1"> Cover </label>


                        <small class="form-text text-muted">
                            Formatos aceptados: jpg, jpeg, png.
                        </small>

                        <div class="input-group mt-3">
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input" id="inputGroupFile01"
                                    aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Selecciona la imagen</label>
                            </div>
                        </div>

                    </div>

                    {{!-- Divider --}}
                    <hr class="my-4 my-6">

                    <!-- Contenido -->
                    <div class="form-group mb-5">

                        <label class="mb-1"> Contenido </label>


                        <small class="form-text text-muted">
                            This is how others will preview the entry, so make it good!
                        </small>

                        {{!-- Toolbar  --}}
                        <div id="toolbar">
                            <span class="ql-formats">
                                <button class="ql-bold">Bold</button>
                                <button class="ql-italic">Italic</button>
                            </span>

                            <span class="ql-formats">
                                <button class="ql-blockquote"></button>
                                <button class="ql-link ql-active"></button>
                                <button class="ql-image"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql   -bold"></button>
                            </span>

                        </div>

                        <div id="editor"></div>

                        <textarea name="content" id="" cols="30" rows="10" required></textarea>
                    </div>




                    {{!-- Botones --}}
                    <div class="form-group">

                        <button type="submit" class="btn btn-block btn-primary">
                            Publicar entrada
                        </button>

                        <a href="/dashboard/blog" class="btn btn-block btn-link text-muted">
                            Cancelar
                        </a>
                    </div>

                </form>
            </div>

        </div>
    </div> <!-- / .main-content -->