<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    
    <a href="/dashboard/pacientes/nueva-ficha" class="btn btn-sm btn-primary">
      Crear nueva entrada <i class="fe fe-plus ml-2"></i>
    </a>

  </div>
</div>