<section class="pt-8 pt-md-14 pb-8 pb-md-14">
    <div class="container">

        {{!-- Título y Botones --}}
        <div class="row align-items-center">

            {{!-- Título --}}
            <div class="col-12 col-md">

                <h1 class="display-2 mb-2">
                    Aviso Legal
                </h1>

                <!-- Text -->
                <p class="font-size-lg text-gray-700 mb-md-0">
                    Última actualización: 06/09/2020
                </p>

            </div>

            {{!-- Botones --}}
            <div class="col-auto">

                <a href="#!" class="btn btn-primary-soft">
                    Imprimir
                </a>

            </div>

        </div> <!-- / .row -->

        {{!-- Divisor --}}
        <div class="row">
            <div class="col-12">

                <hr class="my-6 my-md-8">

            </div>
        </div> <!-- / .row -->

        {{!-- Contenido --}}
        <div class="row">

            {{!-- Texto --}}
            <div class="col-12 col-md-8">

                <div class="mb-6 mb-md-8">
                    <p>
                        MUNAY PSICOLOGÍA, responsable del sitio web, en adelante RESPONSABLE, pone a disposición de los
                        usuarios el presente documento, con el que pretende dar cumplimiento a las obligaciones
                        dispuestas en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y
                        del Comercio Electrónico (LSSICE), así como informar a todos los usuarios del sitio web respecto
                        a cuáles son las condiciones de uso.
                    </p>

                    <p>
                        Toda persona que acceda a este sitio web asume el papel de usuario, comprometiéndose a la
                        observancia y cumplimiento riguroso de las disposiciones aquí dispuestas, así como a cualquier
                        otra disposición legal que fuera de aplicación.
                    </p>

                    <p>
                        MUNAY PSICOLOGÍA se reserva el derecho de modificar cualquier tipo de información que pudiera
                        aparecer en el sitio web, sin que exista obligación de preavisar o poner en conocimiento de los
                        usuarios dichas obligaciones, entendiéndose como suficiente con la publicación en el sitio web
                        de MUNAY PSICOLOGÍA.
                    </p>
                </div>

            </div>

            {{!-- Carta --}}
            <div class="col-12 col-md-4">

                <!-- Card -->
                <div class="card shadow-light-lg">
                    <div class="card-body">

                        <!-- Heading -->
                        <h4>
                            ¿Tienes alguna pregunta?
                        </h4>

                        <!-- Text -->
                        <p class="font-size-sm text-gray-800 mb-5">
                            Not sure exactly what we’re looking for or just want clarification? We’d be happy to chat
                            with you and clear things up for you. Anytime!
                        </p>

                        <!-- Heading -->
                        <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
                            Llámanos
                        </h6>

                        <!-- Text -->
                        <p class="font-size-sm mb-5">
                            <a href="tel:676380984" class="text-reset">+34 676 38 09 84</a>
                        </p>

                        <!-- Heading -->
                        <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
                            Escríbenos
                        </h6>

                        <!-- Text -->
                        <p class="font-size-sm mb-0">
                            <a href="mailto:info@munay.es" class="text-reset">info@munay.es</a>
                        </p>

                    </div>
                </div>

            </div>

            <div class="col-12">

                {{!-- DATOS DEL RESPONSABLE --}}
                <h3 class="display-4 mb-5">
                    Datos del responsable
                </h3>

                {{!-- Identidad del responsable --}}
                <div class="d-flex">

                    <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                        <i class="fe fe-check"></i>
                    </span>

                    <p class="text-gray-800">
                        <span class="font-weight-bold">Identidad del Responsable:</span> Laura Marín Cuesta
                    </p>

                </div>

                {{!-- Nombre comercial --}}
                <div class="d-flex">

                    <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                        <i class="fe fe-check"></i>
                    </span>

                    <p class="text-gray-800">
                        <span class="font-weight-bold">Nombre comercial:</span> Munay Psicología
                    </p>

                </div>

                {{!-- NIF --}}
                <div class="d-flex">

                    <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                        <i class="fe fe-check"></i>
                    </span>

                    <p class="text-gray-800">
                        <span class="font-weight-bold">NIF/CIF:</span> 51128517T
                    </p>

                </div>

                {{!-- Dirección --}}
                <div class="d-flex">

                    <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                        <i class="fe fe-check"></i>
                    </span>

                    <p class="text-gray-800">
                        <span class="font-weight-bold">Dirección:</span> C/ Ciudad de Águilas Nº 1, 28030 Madrid.
                    </p>

                </div>

                {{!-- Correo electrónico --}}
                <div class="d-flex">

                    <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                        <i class="fe fe-check"></i>
                    </span>

                    <p class="text-gray-800">
                        <span class="font-weight-bold">Correo electrónico:</span> info@munay.es
                    </p>

                </div>

                <p>
                    En este espacio, el usuario, podrá encontrar toda la información relativa a los términos y
                    condiciones legales que definen las relaciones entre los usuarios y nosotras como responsables de
                    esta web. Como usuario, es importante que conozcas estos términos antes de continuar tu navegación.
                </p>

                <p>
                    Munay Psicología como responsables de esta web, asumimos el compromiso de procesar
                    la información de nuestros usuarios y clientes con plenas garantías y cumplir con los requisitos
                    nacionales y europeos que regulan la recopilación y uso de los datos personales de nuestros
                    usuarios.
                </p>

                <p>
                    Esta web, por tanto, cumple rigurosamente con la Ley Orgánica 3/2018, de 5 de diciembre, de
                    Protección de Datos Personales y garantía de los derechos digitales. Cumple también con el
                    Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la
                    protección de las personas físicas (RGPD), así como con la Ley 34/2002, de 11 de julio, de Servicios
                    de la Sociedad de la Información y Comercio Electrónico (LSSICE ó LSSI).
                </p>

                {{!-- CONDICIIONES GENERALES DE USO --}}
                <h3 class="display-4 mb-5 pt-8">
                    Condiciones generales de uso
                </h3>

                <p>
                    Las presentes Condiciones Generales regulan el uso (incluyendo el mero acceso) de las páginas de
                    web, integrantes del sitio web de Munay Psicología incluidos los contenidos y servicios puestos a
                    disposición en ellas. Toda persona que acceda a la web, https://munay.es (“usuario”)
                    acepta someterse a las Condiciones Generales vigentes en cada momento del portal https://munay.es
                </p>

                <p>
                    El USUARIO se compromete a hacer un uso adecuado de los contenidos que ofrece a través de su web y
                    con carácter enunciativo pero no limitativo, a no emplearlos para:
                </p>

                <p>
                    (a) incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público;
                </p>

                <p>
                    (b) difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico-ilegal, de apología
                    del terrorismo o atentatorio contra los derechos humanos;
                </p>

                <p>
                    (c) provocar daños en los sistemas físicos y lógicos de la web, de sus proveedores o de terceras
                    personas, introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o
                    lógicos que sean susceptibles de provocar los daños anteriormente mencionados;
                </p>

                <p>
                    (d) intentar acceder y, en su caso, utilizar las cuentas de correo electrónico de otros usuarios y
                    modificar o manipular sus mensajes.
                </p>

                <p>
                    El propietario de la web se reserva el derecho de retirar todos aquellos comentarios y aportaciones
                    que vulneren el respeto a la dignidad de la persona, que sean discriminatorios, xenófobos, racistas,
                    pornográficos, que atenten contra la juventud o la infancia, el orden o la seguridad pública o que,
                    a su juicio, no resultaran adecuados para su publicación.
                </p>

                <p>
                    En cualquier caso, el propietario de la web no será responsable de las opiniones vertidas por los
                    usuarios a través del blog u otras herramientas de participación que puedan crearse, conforme a lo
                    previsto en la normativa de aplicación.
                </p>

                {{!-- DATOS PERSONALES --}}
                <h3 class="display-4 mb-5 pt-8">
                    Datos personales que recabamos y cómo lo hacemos
                </h3>

                <p>
                    Tienes toda la información en la <a href="/politica-de-privacidad">Política de Privacidad.</a>
                </p>

            </div>

        </div> <!-- / .row -->

    </div> <!-- / .container -->
</section>