{{!-- << Formulario >> --}}



<section class="pt-10 pt-md-11 pb-8 pb-md-14" style="background: rgb(232, 244, 245)">
    <div class="container">

        {{!-- Título y Descripción --}}
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-10 text-center">

                <div class="mb-5">
                    {{> messages }}
                </div>


                <h2 class="mb-5 display-3"> Contacta con nosotros. </h2>

                <p class="font-size-lg text-gray-700 mb-6 mb-md-7">
                    En Munay no nos gusta que te quedes con dudas. Puedes dejarnos un mensaje contándonos tu situación y
                    nos pondremos en contacto contigo lo antes posible.
                </p>
            </div>
        </div> {{!-- / .row --}}

        {{!-- Form--}}
        <div class="row justify-content-between">

            <div class="col-12 col-md-6 align-self-top">

                <form action="/enviar-email" method="POST">

                    {{!-- Formulario: Datos personales --}}
                    <div class="row">

                        {{!-- Nombre --}}
                        <div class="col-12">
                            <div class="form-group mb-5">

                                <label for="contactName" class="display-5 font-size-lg">
                                    <i class="fe fe-user mr-1 text-muted"></i> Nombre completo
                                </label>

                                <!-- Input -->
                                <input type="text" class="form-control" name="name" id="contactName"
                                    placeholder="Nombre y Apellidos" autofocus required>

                            </div>
                        </div>

                        {{!-- E-mail --}}
                        <div class="col-12">
                            <div class="form-group mb-5">

                                <label for="contactEmail" class="display-5 font-size-lg">
                                    <i class="fe fe-mail mr-2 text-muted"></i> Correo eléctronico
                                </label>

                                <!-- Input -->
                                <input type="email" class="form-control" name="email" id="contactEmail"
                                    placeholder="correo@ejemplo.com" required>

                            </div>
                        </div>

                    </div> <!-- / .row -->

                    {{!-- Formulario: Información a tratar --}}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group mb-5">

                                <label for="contactMessage" class="display-5 font-size-lg">
                                    <i class="fe fe-message-circle mr-2 text-muted"></i> ¿En qué podemos ayudarte?
                                </label>

                                <!-- Input -->
                                <textarea class="form-control mb-3" id="contactMessage" name="message" rows="4"
                                    style="resize: none;" placeholder="Escríbenos tu mensaje" maxlength="150"
                                    required></textarea>
                            </div>
                        </div>

                        <div class="col-12">
                            {{!-- Formulario: Privacidad y Submit --}}
                            <div class="form-group">

                                {{!-- Política de privacidad  --}}
                                <div class=" mb-5">

                                    <label class="checkbox bounce form-check-label">
                                        <input type="checkbox" id="defaultCheck1" required>
                                        <svg viewBox="0 0 21 21">
                                            <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                                        </svg>
                                    </label>

                                    {{!-- <input class="form-check-input" type="checkbox" id="defaultCheck1" required> --}}

                                    <label class="form-check-label ml-2" for="defaultCheck1">
                                        Acepto la <a href="/politica-privacidad">política de privacidad.</a>
                                    </label>
                                </div>

                                {{!-- Botón de enviar --}}
                                <button type="submit"
                                    class="btn btn-sm btn-primary btn-pill btn-block lift font-size-lg">
                                    <span class="display-5">ENVIAR</span>
                                    <span class="icon icon-sm text-white">
                                        <svg class="ml-3" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

                                            <g id="Stockholm-icons-/-Communication-/-Sending" stroke="none"
                                                stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                                <path
                                                    d="M8,13.1668961 L20.4470385,11.9999863 L8,10.8330764 L8,5.77181995 C8,5.70108058 8.01501031,5.63114635 8.04403925,5.56663761 C8.15735832,5.31481744 8.45336217,5.20254012 8.70518234,5.31585919 L22.545552,11.5440255 C22.6569791,11.5941677 22.7461882,11.6833768 22.7963304,11.794804 C22.9096495,12.0466241 22.7973722,12.342628 22.545552,12.455947 L8.70518234,18.6841134 C8.64067359,18.7131423 8.57073936,18.7281526 8.5,18.7281526 C8.22385763,18.7281526 8,18.504295 8,18.2281526 L8,13.1668961 Z"
                                                    id="Combined-Shape" fill="#335EEA"></path>
                                                <path
                                                    d="M4,16 L5,16 C5.55228475,16 6,16.4477153 6,17 C6,17.5522847 5.55228475,18 5,18 L4,18 C3.44771525,18 3,17.5522847 3,17 C3,16.4477153 3.44771525,16 4,16 Z M1,11 L5,11 C5.55228475,11 6,11.4477153 6,12 C6,12.5522847 5.55228475,13 5,13 L1,13 C0.44771525,13 6.76353751e-17,12.5522847 0,12 C-6.76353751e-17,11.4477153 0.44771525,11 1,11 Z M4,6 L5,6 C5.55228475,6 6,6.44771525 6,7 C6,7.55228475 5.55228475,8 5,8 L4,8 C3.44771525,8 3,7.55228475 3,7 C3,6.44771525 3.44771525,6 4,6 Z"
                                                    id="Combined-Shape" fill="#335EEA" opacity="0.3"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </button>

                            </div>

                        </div>
                    </div> <!-- / .row -->


                </form>

            </div> <!-- / .col-->

            <div class="col-12 col-md-6">
                <img src="/img/illustrations/personas.svg" class="img-fluid" alt="">
            </div>

        </div> <!-- / .row -->

    </div> <!-- / .container -->
</section>



{{!-- Shape --}}
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 48" fill="none">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor" />
        </svg>
    </div>
</div>