{{!-- << Formulario >> --}}

<section class="pt-8 pt-md-11 pb-8 pb-md-14 bg-white">
    <div class="container">

        {{!-- Título y Descripción --}}
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-10 text-center">
                <h2 class="font-weight-bold mb-7"> Contacta con nosotros. </h2>

                <p class="font-size-lg text-muted mb-7 mb-md-9">
                    En Munay no nos gusta que te quedes con dudas. Puedes dejarnos un mensaje contándonos tu situación y
                    nos pondremos en contacto contigo lo antes posible.
                </p>
            </div>
        </div> {{!-- / .row --}}

        {{!-- Form--}}
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10">

                <form>

                    {{!-- Formulario: Datos personales --}}
                    <div class="row">

                        {{!-- Nombre --}}
                        <div class="col-12 col-md-6">
                            <div class="form-group mb-5">

                                <label for="contactName"> Nombre completo </label>

                                <!-- Input -->
                                <input type="text" class="form-control" id="contactName" placeholder="Nombre completo">

                            </div>
                        </div>

                        {{!-- E-mail --}}
                        <div class="col-12 col-md-6">
                            <div class="form-group mb-5">

                                <label for="contactEmail"> Correo eléctronico </label>

                                <!-- Input -->
                                <input type="email" class="form-control" id="contactEmail"
                                    placeholder="correo@ejemplo.com">

                            </div>
                        </div>
                    </div> <!-- / .row -->

                    {{!-- Formulario: Información a tratar --}}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group mb-7 mb-md-9">

                                <label for="contactMessage"> ¿En qué podemos ayudarte? </label>

                                <!-- Input -->
                                <textarea class="form-control mb-3" id="contactMessage" rows="5"
                                    placeholder="Escríbenos tu mensaje"></textarea>

                                {{!-- Política de privacidad  --}}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                                    <label class="form-check-label" for="defaultCheck1">
                                        Acepto la <a href="/politica-de-privacidad">política de privacidad.</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div> <!-- / .row -->

                    {{!-- Botón de enviar --}}
                    <div class="row justify-content-center">
                        <div class="col-auto">

                            <button type="submit" class="btn btn-primary lift">
                                Enviar
                            </button>

                        </div>
                    </div> <!-- / .row -->
                </form>

            </div> <!-- / .col-->
        </div> <!-- / .row -->

    </div> <!-- / .container -->
</section>

{{!-- Información de contacto --}}
<section class="py-7 py-md-9 border-top border-gray-300" id="info">
    <div class="row">

        {{!-- Ubicación --}}
        <div class="col-12 col-md-4 text-center border-right border-gray-300">

            <h6 class="text-uppercase text-gray-700 mb-1">
                <i class="fe fe-map-pin mr-2"></i> Ubicación
            </h6>

            <div class="mb-5 mb-md-0">
                <a href="#!" class="h4 text-primary"> C/ Goya 29. 28030 Madrid. </a>
            </div>

        </div>

        {{!-- E-mail --}}
        <div class="col-12 col-md-4 text-center border-right border-gray-300">

            <h6 class="text-uppercase text-gray-700 mb-1">
                <i class="fe fe-mail mr-2"></i> Correo eléctronico
            </h6>

            <div class="mb-5 mb-md-0">
                <a href="#!" class="h4"> info@munay.es </a>
            </div>

        </div>

        {{!-- Teléfono --}}
        <div class="col-12 col-md-4 text-center">

            <h6 class="text-uppercase text-gray-700 mb-1">
                <i class="fe fe-phone mr-2"></i> Teléfono
            </h6>

            <a href="#!" class="h4"> +34 611 333 445 </a>

        </div>
    </div> <!-- / .row -->

</section>



{{!-- Shape --}}
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 48" fill="none">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor" />
        </svg>
    </div>
</div>