<section class="pt-8 pb-9" style="background: rgb(232, 244, 245)">
    <div class="container">

        {{!-- Título y Descripción --}}
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-10 text-center">

                <img src="/img/illustrations/error404.png" alt="Error 404" class="img-fluid mw-50">

                <h2 class="mb-5 display-3"> ¡Oops! </h2>

                <p class="font-size-lg text-gray-700 mb-6 mb-md-7">
                    Lo sentimos pero la página a la que estás intentando acceder no existe.
                </p>

                <button class="btn btn-primary">
                    Volver al Inicio
                </button>
            </div>
        </div> {{!-- / .row --}}

    </div> <!-- / .container -->
</section>