{{!-- Menu lateral izquierdo --}}
<div class="container-fluid" style="overflow: visible;">
    <div class="row">
        <div class="col-12 col-md-2 position-md-sticky d-none d-lg-flex align-items-center vh-md-75" style="top: 0;">

            <!-- Sidebar -->
            <aside>
                <div class="px-lg-7 border-right-lg border-gray-300">

                    <h6 class="text-uppercase font-weight-bold">Especialidades</h6>

                    <!-- Links -->
                    <ul class="list mb-0">
                        <li class="list-item">
                            <a class="list-link" href="#adultos" data-toggle="smooth-scroll">Adultos</a>
                        </li>

                        <li class="list-item">
                            <a class="list-link" href="#infantojuvenil" data-toggle="smooth-scroll">Infantojuvenil</a>
                        </li>

                        <li class="list-item">
                            <a class="list-link" href="#terceraEdad" data-toggle="smooth-scroll">Tercera edad</a>
                        </li>

                        <li class="list-item">
                            <a class="list-link" href="#parejas" data-toggle="smooth-scroll">Parejas</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>

        <div class="container">
            <div class="col-12 col-md-10">

                <section class="pb-8 pt-md-13 pb-md-10">

                    <!-- Título -->
                    <h1 class="font-weight-bold">Especialidades</h1>


                    <!-- Texto -->
                    <p class="font-size-lg text-gray-700 my-5">
                        Aunque a veces es difícil saber qué nos ocurre y precisamente ese estado de incertidumbre puede
                        serincluso el momento óptimo para acudir a terapia, tienes una breve descripción sobre las áreas
                        que Munay abarca:
                    </p>

                    <!-- Divider -->
                    <hr class="border-gray-300 my-6">



                    <!-- /// Adultos /// -->

                    <!-- Heading -->
                    <h2 class="font-weight-bold text-primary" id="adultos">
                        Adultos
                    </h2>

                    <!-- Lista -->
                    <ul class="text-gray-700">
                        <li>Manejo de situaciones vitales estresantes: experiencias de duelo, maltrato, conflictos en el
                            ámbito
                            laboral o familiar.</li>
                        <li>Problemas cognitivos: exceso de preocupación, pensamientos obsesivos, dificultad en la toma
                            de
                            decisiones.</li>
                        <li>Problemas emocionales: ansiedad, depresión, fobias específicas.</li>
                        <li>Alteraciones conductuales: impulsividad, agresividad...</li>
                        <li>Problemas en los hábitos alimentarios.</li>
                        <li>Dificultades en el ámbito sexual. </li>
                        <li>Rasgos de personalidad problemáticos: obsesividad, rigidez cognitiva, sentimientos crónicos
                            de
                            vacío, dependencia emocional.</li>
                    </ul>

                    <!-- Divider -->
                    <hr class="border-gray-300 my-6">


                    <!-- /// Infantoadolescencia /// -->

                    <!-- Heading -->
                    <h2 class="font-weight-bold text-primary" id="infantojuvenil">
                        Infantojuvenil
                    </h2>

                    <!-- Lista -->
                    <ul class="text-gray-700">
                        <li>Manejo de situaciones vitales estresantes: experiencias de duelo, maltrato, conflictos en el
                            ámbito
                            laboral o familiar.</li>
                        <li>Problemas cognitivos: exceso de preocupación, pensamientos obsesivos, dificultad en la toma
                            de
                            decisiones.</li>
                        <li>Problemas emocionales: ansiedad, depresión, fobias específicas.</li>
                        <li>Alteraciones conductuales: impulsividad, agresividad...</li>
                        <li>Problemas en los hábitos alimentarios.</li>
                        <li>Dificultades en el ámbito sexual. </li>
                        <li>Rasgos de personalidad problemáticos: obsesividad, rigidez cognitiva, sentimientos crónicos
                            de
                            vacío, dependencia emocional.</li>
                    </ul>

                    <!-- Divider -->
                    <hr class="border-gray-300 my-6">


                    <!-- /// Tercera edad /// -->

                    <!-- Título -->
                    <h2 class="font-weight-bold text-primary" id="terceraEdad">
                        Tercera edad
                    </h2>

                    <!-- Lista -->
                    <ul class="text-gray-700">
                        <li>
                            <strong>Problemas emocionales o relacionales:</strong> ansiedad, tristeza, apatía, irritabilidad.
                        </li>
                        <li>
                            <strong>Síntomas de deterioro cognitivo:</strong> pérdidas de atención, memoria y/o razonamiento.
                        </li>
                        <li>
                            <strong>Alteraciones conductuales:</strong> quejas frecuentes, aislamiento, disminución del cuidado personal, comportamiento desinhibido.
                        </li>
                    </ul>

                    <!-- Divider -->
                    <hr class="border-gray-300 my-6">

                    <!-- Heading -->
                    <h2 class="font-weight-bold text-primary" id="parejas">
                        Parejas
                    </h2>

                    <!-- Texto -->
                    <p class="text-gray-700">
                        Gulp is used to manage Landkit development. Open your command line to the root directory of the
                        theme to
                        use the following commands:
                    </p>

                    <!--  -->
                    <!-- Lista -->
                    <ul class="text-gray-700">
                        <li>
                            <strong>Problemas emocionales o relacionales:</strong> ansiedad, tristeza, apatía,
                            irritabilidad.
                        </li>
                        <li>
                            <strong>Síntomas de deterioro cognitivo:</strong> pérdidas de atención, memoria y/o
                            razonamiento.
                        </li>
                    </ul>
                </section>

            </div>
        </div>
        {{!-- << Especialidades >> --}}

    </div>
</div>

<!-- SHAPE
    ================================================== -->
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        @@include("/img/blogrblog-1.svg")
    </div>
</div>


<!-- CTA
    ================================================== -->
<section class="pt-7 bg-light">
    <div class="container py-6 py-md-8  border-bottom border-gray-300">
        <div class="row align-items-center">
            <div class="col-12 col-md">

                <!-- Heading -->
                <h3 class="mb-1 font-weight-bold">
                    Get our stories delivered
                </h3>

                <!-- Text -->
                <p class="font-size-lg text-muted mb-6 mb-md-0">
                    From us to your inbox weekly.
                </p>

            </div>
            <div class="col-12 col-md-5">

                <!-- Form -->
                <form>
                    <div class="row">
                        <div class="col">

                            <!-- Input -->
                            <input type="email" class="form-control" placeholder="Enter your email">

                        </div>
                        <div class="col-auto ml-n5">

                            <!-- Button -->
                            <button class="btn btn-primary" type="submit">
                                Subscribe
                            </button>

                        </div>
                    </div> <!-- / .row -->
                </form>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>