{{!-- Especialidades --}}

{{!-- Menu lateral --}}
<section>
    <div class="container-fluid">
        <div class="row align-items-between">

            <!-- Sidenav -->
            {{!-- <div class="col-12 col-lg-3 col-xl-2 px-lg-0 d-none d-lg-block border-bottom border-bottom-lg-0 sidenav sidenav-left"> --}}
            <div class="col-12 col-md-4 position-md-sticky d-none d-lg-flex" style="top: 0;">
                <div class="px-lg-7 border-right-lg border-gray-300">

                    <h6 class="text-uppercase font-weight-bold">Especialidades</h6>

                    <!-- Links -->
                    <ul class="list mb-0">
                        <li class="list-item">
                            <a class="list-link" href="#adultos" data-toggle="smooth-scroll">Adultos</a>
                        </li>

                        <li class="list-item">
                            <a class="list-link" href="#infantojuvenil" data-toggle="smooth-scroll">Infantojuvenil</a>
                        </li>

                        <li class="list-item">
                            <a class="list-link" href="#terceraEdad" data-toggle="smooth-scroll">Tercera edad</a>
                        </li>

                        <li class="list-item">
                            <a class="list-link" href="#parejas" data-toggle="smooth-scroll">Parejas</a>
                        </li>
                    </ul>
                </div>
            </div>

            {{!-- </div>   Final de col --}}

            <!-- ||| Columna Especialidades ||| -->

            <div class="col-12 col-lg-6 col-xl-8 offset-lg-3 offset-xl-2 px-lg-7" style="top: 0;">

                <!-- Título -->
                <h1 class="font-weight-bold">Especialidades</h1>

                <!-- Texto -->
                <p class="font-size-lg text-gray-700 my-5">
                    Aunque a veces es difícil saber qué nos ocurre y precisamente ese estado de incertidumbre puede ser
                    incluso el momento óptimo para acudir a terapia, tienes una breve descripción sobre las áreas que
                    Munay
                    abarca:
                </p>

                <!-- Divider -->
                <hr class="border-gray-300 my-6">

                <!-- /// Adultos /// -->

                <!-- Heading -->
                <h2 class="font-weight-bold text-primary" id="adultos">
                    Adultos
                </h2>

                <!-- Lista -->
                <ul class="text-gray-700">
                    <li>Manejo de situaciones vitales estresantes: experiencias de duelo, maltrato, conflictos en el
                        ámbito
                        laboral o familiar.</li>
                    <li>Problemas cognitivos: exceso de preocupación, pensamientos obsesivos, dificultad en la toma de
                        decisiones.</li>
                    <li>Problemas emocionales: ansiedad, depresión, fobias específicas.</li>
                    <li>Alteraciones conductuales: impulsividad, agresividad...</li>
                    <li>Problemas en los hábitos alimentarios.</li>
                    <li>Dificultades en el ámbito sexual. </li>
                    <li>Rasgos de personalidad problemáticos: obsesividad, rigidez cognitiva, sentimientos crónicos de
                        vacío, dependencia emocional.</li>
                </ul>

                <!-- Divider -->
                <hr class="border-gray-300 my-6">


                <!-- /// Infantoadolescencia /// -->

                <!-- Heading -->
                <h2 class="font-weight-bold text-primary" id="infantojuvenil">
                    Infantojuvenil
                </h2>

                <!-- Lista -->
                <ul class="text-gray-700">
                    <li>Manejo de situaciones vitales estresantes: experiencias de duelo, maltrato, conflictos en el
                        ámbito
                        laboral o familiar.</li>
                    <li>Problemas cognitivos: exceso de preocupación, pensamientos obsesivos, dificultad en la toma de
                        decisiones.</li>
                    <li>Problemas emocionales: ansiedad, depresión, fobias específicas.</li>
                    <li>Alteraciones conductuales: impulsividad, agresividad...</li>
                    <li>Problemas en los hábitos alimentarios.</li>
                    <li>Dificultades en el ámbito sexual. </li>
                    <li>Rasgos de personalidad problemáticos: obsesividad, rigidez cognitiva, sentimientos crónicos de
                        vacío, dependencia emocional.</li>
                </ul>

                <!-- Divider -->
                <hr class="border-gray-300 my-6">


                <!-- /// Tercera edad /// -->

                <!-- Título -->
                <h2 class="font-weight-bold text-primary" id="terceraEdad">
                    Tercera edad
                </h2>

                <!-- Texto -->
                <p class="text-gray-700">
                    Gulp is used to manage Landkit development. Open your command line to the root directory of the
                    theme to
                    use the following commands:
                </p>

                <!-- Lista -->
                <ul class="text-gray-700">
                    <li>
                        <strong>Problemas emocionales o relacionales:</strong> ansiedad, tristeza, apatía,
                        irritabilidad.
                    </li>
                    <li>
                        <strong>Síntomas de deterioro cognitivo:</strong> pérdidas de atención, memoria y/o
                        razonamiento.
                    </li>
                </ul>

                <!-- Divider -->
                <hr class="border-gray-300 my-6">

                <!-- Heading -->
                <h2 class="font-weight-bold text-primary" id="parejas">
                    Parejas
                </h2>

                <!-- Texto -->
                <p class="text-gray-700">
                    Gulp is used to manage Landkit development. Open your command line to the root directory of the
                    theme to
                    use the following commands:
                </p>

                <!--  -->
                <!-- Lista -->
                <ul class="text-gray-700">
                    <li>
                        <strong>Problemas emocionales o relacionales:</strong> ansiedad, tristeza, apatía,
                        irritabilidad.
                    </li>
                    <li>
                        <strong>Síntomas de deterioro cognitivo:</strong> pérdidas de atención, memoria y/o
                        razonamiento.
                    </li>
                </ul>


            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container-fluid -->
</section>