{{!-- << Hero >> --}}

<section id="hero" class="pt-4 py-md-11 pb-5 pb-md-0 mt-10 bg-info">

  <div class="container">
    <div class="row align-items-center">

      {{!-- Ilustración principal --}}
      <div class="col-12 col-md-5 col-lg-6 order-md-2">
        <img src="/img/illustrations/heroe.svg" class="mb-3 mb-md-0 ml-2" alt="..." data-aos="fade-up"
          data-aos-delay="100">
      </div>

      {{!-- Bloque héroe --}}
      <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">
        {{!-- Título --}}
        <h1 class="display-3 font-weight-bold text-center text-md-left mb-8">
          Terapia psicológica basada <span class="text-primary">en la evidencia</span>
        </h1>

        {{!-- Texto --}}
        <p class="lead text-center text-md-left text-gray-800 font-size-md mb-6 mb-lg-8">
          ¡Bienvenido/a! Éste es un recurso de salud mental para ti. Munay es un espacio donde puedes explorar,
          preguntar, expresarte y exprimir nuestros servicios de psicología clínica y neuropsicología.
        </p>

        <!-- Botón CTA -->
        <div class="text-center text-md-left text-uppercase">
          <a href="/reserva-tu-cita" class="btn btn-primary btn-lg shadow lift mr-1">
            Reserva tu cita <i class="fe fe-arrow-right ml-3"></i>
          </a>
        </div>
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

{{!-- Shape --}}
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
    <svg viewBox="0 0 2880 48" fill="none">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor" />
    </svg>
  </div>
</div>

{{!-- << Información >> --}}
<section class="pt-8 pt-md-11 pb-4 bg-white">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between mb-3 mb-md-9">

      <!-- Vídeo -->
      <div class="col-12 col-md-12 col-lg-5 mb-6 mb-md-4 ml-0 ml-md-2 ml-lg-8 " data-aos="fade-right">

        <!-- ** Make video sticky while the other column slides -->
        <div class="embed-responsive embed-responsive-16by9 rounded">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t2jloGkXjPg" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </div>

      <!-- Titulo y Descripcion -->
      <div class="col-12 col-md-6 mr-5 px-8" data-aos="fade-left">

        <!-- Heading -->
        <h2 class="display-5 font-weight-bold">
          Acudir a terapia no debería ser motivo de vergüenza sino
          <span class="text-primary">un acto de <span data-toggle="typed"
              data-options='{"strings": ["valentía.", "responsabilidad.", "amor propio."]}'></span></span>
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-gray-700 mb-6">
          Ofrecemos evaluación e intervención psicológica desde una orientación cognitivo-conductual.
          Reunimos las sensaciones de pacientes y/o terapeutas que quieran compartirlas.
          Recomendamos materiales para conectar contigo o tu entorno.

          <br> <br> Es importante que sepas que:
        </p>

        <!-- List -->
        <div class="row">
          <div class="col-12 col-lg-6">

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <!-- Text -->
              <p class="text-primary">
                No creemos en los consejos rápidos y universales. Probaremos varias técnicas con respaldo científico
                hasta mejorar tu situación.
              </p>

            </div>

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <p class="text-primary mb-lg-0">
                Toda información dada es confidencial desde el primer contacto.
              </p>

            </div>

          </div>
          <div class="col-12 col-lg-6 mb-6 mb-md-0">

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </span>

              <!-- Text -->
              <p class="text-primary">
                Todas las decisiones tomadas en el proceso terapéutico son consensuadas. Respetaremos tus tiempos.
              </p>

            </div>

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-primary-soft mr-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <!-- Text -->
              <p class="text-primary mb-0">
                Deberías sentirte entendido/a y aceptado/a de manera incondicional. Si no es así, ¡háznoslo saber!
              </p>

            </div>

          </div>
        </div> <!-- / .row -->

      </div>





    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

{{!-- Shape --}}
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
    <svg viewBox="0 0 2880 56" fill="none">
      <path d="M720 28H0V56H995.5H1639.5H2880V28H2160C2160 28 1874 -9.82909e-10 1440 0C1006 9.829e-10 720 28 720 28Z" fill="currentColor"/>
    </svg>
  </div>
</div>

{{!-- << Especialidades >> --}}
<section id="especialidades" class="pt-6 bg-gray-200">

  <div class="container">

    {{!-- Título y Descripción --}}
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Título -->
        <h2 class="display-5 font-weight-bold">
          Especialidades
        </h2>

        <!-- Texto -->
        <p class="font-size-lg text-gray-700 mb-7 mb-md-9">
          Exponemos un resumen de las dificultades que atendemos por áreas para que puedas
          consultar las que más te interesan.
        </p>

      </div>
    </div> <!-- / .row -->

    {{!-- Listado de especialidades --}}
    <div class="row align-items-center">

      {{!-- Adultos --}}
      <div class="col-12 col-md-3 text-center" data-aos="fade-up">

        <h3 class="font-weight-bold">Adultos</h3>

        {{!-- Ilustración --}}
        <img src="/img/illustrations/adultos.svg" alt="Terapia psicológica para Adultos"
          class="img-fluid mb-3">

      </div>

      {{!-- Infantojuvenil --}}
      <div class="col-12 col-md-3 text-center" data-aos="fade-up" data-aos-delay="50">

        <h3 class="font-weight-bold">Infantojuvenil</h3>

        {{!-- Ilustración --}}
        <img src="/img/illustrations/infantojuvenil.svg" alt="Terapia psicológica para Niños y Adolescentes"
          class="img-fluid mb-3">

      </div>

      {{!-- Tercera edad --}}
      <div class="col-12 col-md-3 text-center" data-aos="fade-up" data-aos-delay="100">

        <h3 class="font-weight-bold">Tercera edad</h3>

        {{!-- Ilustración --}}
        <img src="/img/illustrations/tercera-edad.svg" alt="Terapia psicológica para la Tercera edad"
          class="img-fluid mb-3">

      </div>

      {{!-- Parejas --}}
      <div class="col-12 col-md-3 text-center" data-aos="fade-up" data-aos-delay="100">

        <h3 class="font-weight-bold">Parejas</h3>

        {{!-- Ilustración --}}
        <img src="/img/illustrations/parejas.svg" alt="Terapia psicológica Parejas"
          class="img-fluid mb-3">
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->

  {{!-- Enlace call to action --}}
  <div class="row justify-content-center">
    <a href="/especialidades" class="mt-8 font-weight-bold text-decoration-none text-uppercase">
      Descubre nuestros servicios <i class="fe fe-arrow-right ml-3"></i>
    </a>
  </div>

</section>

{{!-- << Modalidades >> --}}
<section id="modalidades" class="pt-7 pt-md-11 pb-8 bg-gray-200">
  <div class="container">

    <div class="row align-items-center justify-content-between mb-8 mb-md-11">

      {{!-- Texto e Ilustración --}}
      <div class="col-12 col-md-6 mb-3 mb-md-0" data-aos="fade-right">

        {{!-- Título y Descripción --}}
        <div class="text-center text-md-left">

          <h2 class="font-weight-bold">
            Modalidades
          </h2>

          <p class="font-size-lg text-gray-700 mb-6">
            La vida transcurre y cambia para todos, siendo en algunos casos difícil acudir al despacho. Por eso tienes
            varias modalidades disponibles para realizar terapia que puedes modificar en cualquier momento sin ningún
            inconveniente.
          </p>
        </div>

        <!-- Apartados -->
        <div class="d-flex">

          <!-- Descripción -->
          <div class="ml-5 mt-4">

            <!-- Texto -->
            <p class="text-gray-700 mb-5">
              Puede resultarte raro, frío o distante a priori la opción de realizar terapia por videollamada. No
              obstante, te animamos a que lo pruebes porque al fin y al cabo, estamos acostumbrados a relacionarnos con
              nuestro entorno mediante la tecnología de forma rutinaria.
            </p>

            <a href="#!" class="font-weight-bold text-decoration-none">
              CONSULTA NUESTRAS TARIFAS <i class="fe fe-arrow-right ml-3"></i>
            </a>
          </div>


        </div>

        <!-- Image -->
        <div class="position-relative ml-7 mt-6 mb-n9">
          <img src="/img/illustrations/diente-de-leon.svg" class="img-fluid w-50 d-none d-md-block" alt="...">
        </div>


      </div> <!-- ./col -->

      <!-- Lista de Modalidades -->
      <div class="col-12 col-md-6 px-6 px-md-9 align-self-start" data-aos="fade-left">

        <!-- Carta -->
        <div class="card card-border card-border-xl border-primary shadow-lg mb-6 mb-md-8 lift lift-lg">
          <div class="card-body text-center">

            <div class="list-group list-group-flush">

              <!-- Presencial -->
              <div class="list-group-item">

                <!-- Icon -->
                <div class="icon-circle bg-primary text-white mb-5">
                  <i class="fe fe-map-pin"></i>
                </div>

                <!-- Heading -->
                <h3 class="font-weight-bold">
                  Presencial
                </h3>

                <!-- Text -->
                <p class="text-gray-700 mb-5">
                  El despacho está situado en Madrid Centro. Buena comunicación y accesibilidad.
                </p>
              </div>

              <!-- Videollamada -->
              <div class="list-group-item">

                <!-- Icon -->
                <div class="icon-circle bg-primary text-white mb-5">
                  <i class="fe fe-video"></i>
                </div>

                <!-- Heading -->
                <h3 class="font-weight-bold">
                  Vídeollamada
                </h3>

                <!-- Text -->
                <p class="text-gray-700 mb-5">
                  Vía Skype o Whatsapp.
                </p>
              </div>

              <!-- Teléfono -->
              <div class="list-group-item">

                <!-- Icon -->
                <div class="icon-circle bg-primary text-white mb-5">
                  <i class="fe fe-phone-call"></i>
                </div>

                <!-- Heading -->
                <h3 class="font-weight-bold">
                  Teléfono
                </h3>

                <!-- Text -->
                <p class="text-gray-700 mb-5">
                  Vía Skype o Whatsapp.
                </p>
              </div>


            </div>
          </div> <!-- ./card-body -->
        </div> <!-- ./card -->

      </div> <!-- ./col -->

    </div> <!-- ./row -->
  </div> <!-- ./container -->
</section>


{{!-- Shape --}}
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    <svg viewBox="0 0 2880 480" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M720 0C1440 240 2160 240 2160 240H2880V480H-0.000244141V0H720Z" fill="currentColor"/>
    </svg>
  </div>
</div>

<!-- ================== BLOG ================== -->

<section id="blog" class="py-4 bg-light">
  <div class="container">
    <div class="row justify-content-center">

      <!-- Título y Descripción -->
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Heading -->
        <h2 class="font-weight-bold">
          Últimas entradas en nuestro blog
        </h2>

        <!-- Texto -->
        <p class="font-size-lg text-gray-700 mb-7 mb-md-9">
          Explicamos de forma clara y sencilla conceptos de psicología útiles para tu día a día.
          Recogemos los temas que más dudas generan.
          Exponemos algunas publicaciones recientes en revistas científicas.
        </p>

      </div>
    </div> <!-- / .row -->



    <!-- Entradas del Blog -->
    <div class="row">

      <!-- Entrada 1 -->
      <div class="col-12 col-lg-4 d-flex">

        <!-- Card -->
        <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">

          <!-- Imagen -->
          <a class="card-zoom" href="#!">
            <img src="assets/img/photos/blog1.jpg" alt="..." class="img-fluid card-img-top">
          </a>

          <!-- Shape -->
          <div class="position-relative">
            <div class="shape shape-fluid-x shape-bottom svg-shim text-white">
              @@include("assets/img/shapes/curves/curve-1.svg")
            </div>
          </div>

          <!-- Body -->
          <a class="card-body" href="#!">

            <!-- Categoría de la entrada -->
            <div class="position-relative text-right mt-n8 mr-n4 mb-3">
              <span class="badge badge-pill badge-primary">
                <span class="h6 text-uppercase">Neuropsicología</span>
              </span>
            </div>

            <!-- Heading -->
            <h3>
              Del escapismo a la evitación inteligente
            </h3>

            <!-- Text -->
            <p class="mb-0 text-muted">
              Antes o después, los problemas tocarán a nuestra puerta. Para lidiar con ellos podemos poner en práctica
              diferentes estrategias de afrontamiento.
            </p>

          </a>

          <!-- Meta -->
          <a class="card-meta mt-auto" href="#!">

            <!-- Divider -->
            <hr class="card-meta-divider">

            <!-- Tiempo de lectura -->
            <i class="fe fe-clock text-muted mr-2 mb-1"></i>

            <h6 class="text-uppercase text-muted mr-2 mb-0">
              10 min.
            </h6>

            <!-- Fecha -->
            <p class="h6 text-uppercase text-muted mb-0 ml-auto">
              <time datetime="2019-05-02">22 MARZO</time>
            </p>
            <i class="fe fe-calendar text-muted ml-2 mb-1"></i>
          </a>

        </div>

      </div>

      <!-- Entrada 2 -->
      <div class="col-12 col-lg-4 d-flex">

        <!-- Card -->
        <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">

          <!-- Image -->
          <a class="card-zoom" href="#!">
            <img src="assets/img/photos/blog1.jpg" alt="..." class="img-fluid card-img-top">
          </a>

          <!-- Shape -->
          <div class="position-relative">
            <div class="shape shape-fluid-x shape-bottom svg-shim text-white">
              @@include("assets/img/shapes/curves/curve-1.svg")
            </div>
          </div>

          <!-- Body -->
          <a class="card-body" href="#!">

            <!-- Categoría de la entrada -->
            <div class="position-relative text-right mt-n8 mr-n4 mb-3">
              <span class="badge badge-pill badge-primary">
                <span class="h6 text-uppercase">Autoayuda</span>
              </span>
            </div>

            <!-- Heading -->
            <h3>
              Del escapismo a la evitación inteligente
            </h3>

            <!-- Text -->
            <p class="mb-0 text-muted">
              Antes o después, los problemas tocarán a nuestra puerta. Para lidiar con ellos podemos poner en práctica
              diferentes estrategias de afrontamiento.
            </p>

          </a>

          <!-- Meta -->
          <a class="card-meta mt-auto" href="#!">

            <!-- Divider -->
            <hr class="card-meta-divider">

            <!-- Tiempo de lectura -->
            <i class="fe fe-clock text-muted mr-2 mb-1"></i>

            <h6 class="text-uppercase text-muted mr-2 mb-0">
              7 min.
            </h6>

            <!-- Fecha -->
            <p class="h6 text-uppercase text-muted mb-0 ml-auto">
              <time datetime="2019-05-02">15 MARZO</time>
            </p>
            <i class="fe fe-calendar text-muted ml-2 mb-1"></i>
          </a>

        </div>

      </div>

      <!-- Entrada 3 -->
      <div class="col-12 col-lg-4 d-flex">

        <!-- Card -->
        <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">

          <!-- Image -->
          <a class="card-zoom" href="#!">
            <img src="assets/img/photos/blog3.png" alt="..." class="img-fluid card-img-top">
          </a>

          <!-- Shape -->
          <div class="position-relative">
            <div class="shape shape-fluid-x shape-bottom svg-shim text-white">
              @@include("assets/img/shapes/curves/curve-1.svg")
            </div>
          </div>

          <!-- Body -->
          <a class="card-body" href="#!">

            <!-- Categoría de la entrada -->
            <div class="position-relative text-right mt-n8 mr-n4 mb-3">
              <span class="badge badge-pill badge-primary">
                <span class="h6 text-uppercase">Adicciones</span>
              </span>
            </div>

            <!-- Heading -->
            <h3>
              Expectativas: El asesino silencioso de la felicidad
            </h3>

            <!-- Text -->
            <p class="mb-0 text-muted">
              “Las mejores cosas de la vida son inesperadas porque no teníamos expectativas”, dijo Eli Khamarov, y no le
              faltaba razón.
            </p>

          </a>

          <!-- Meta -->
          <a class="card-meta mt-auto" href="#!">

            <!-- Divider -->
            <hr class="card-meta-divider">

            <!-- Tiempo de lectura -->
            <i class="fe fe-clock text-muted mr-2 mb-1"></i>

            <h6 class="text-uppercase text-muted mr-2 mb-0">
              12 min.
            </h6>

            <!-- Fecha -->
            <p class="h6 text-uppercase text-muted mb-0 ml-auto">
              <time datetime="2019-05-02">10 MARZO</time>
            </p>
            <i class="fe fe-calendar text-muted ml-2 mb-1"></i>
          </a>

        </div>

      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- ================== EQUIPO ================== -->

<!-- assets/img/photos/laurita.jpg -->
<!-- / .container -->
<section class="py-0 py-md-8 bg-light">
  <div class="container">
    <div class="card card-row shadow-light-lg">
      <div class="row no-gutters">

        <!-- Foto -->
        <a class="col-12 col-md-6 card-zoom bg-cover card-img-left"
          style="background-image: url(assets/img/photos/laurita.jpg);" href="#!">
          <!-- Image (placeholder) -->
          <img src="assets/img/photos/laurita2.jpg" alt="Laura Marín Cuesta - Psicóloga"
            class="img-fluid w-75 d-md-none invisible">

          <!-- Shape -->
          <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
            @@include("assets/img/shapes/curves/curve-4.svg")
          </div>
        </a>

        <!-- Descripción -->
        <div class="col-12 col-md-6 order-md-1">
          <!-- Cuerpo -->
          <div class="card-body">
            <blockquote class="blockquote mb-0 text-center">

              <!-- Nombre -->
              <h2 class="font-weight-bold text-primary">Laura Marín Cuesta</h3>

                <!-- Text -->
                <p class="text-gray-700 mb-5 mb-md-7">
                  Graduada en Psicología.<br>
                  Colegiada M-35246. <br>
                  Máster en Psicología General Sanitaria. <br>
                  Posgrado en Neuropsicología Clínica.
                </p>

                <!-- Iconos de Contacto -->
                <div class="icon icon-xs text-primary">
                  <i class="fe fe-mail mr-3"></i>
                  <a href="https://es.linkedin.com/in/laura-mar%C3%ADn-cuesta-940034116"
                    rel="me noopener noreferrer nofollow" target="_blank">
                    <i class="fe fe-linkedin"></i>
                  </a>
                </div>

            </blockquote>
          </div>

        </div>

      </div>
    </div>

  </div> <!-- / .container -->
</section>

<!-- SHAPE -->
<div class="position-relative mt-n9">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-300">
    @@include("assets/img/shapes/curves/curve-3.svg")
  </div>
</div>

<!-- ================== COMPARTE TU EXPERIENCIA ================== -->

<section id="comparteExperiencia" class="pt-12 pt-md-11 pb-8 pb-md-10 bg-gray-300">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 text-center">

        <!-- Título -->
        <h2 class="font-weight-bold">
          Comparte tu experiencia
        </h2>

        <!-- Descripción -->
        <p class="font-size-lg text-gray-700 mb-7 mb-md-8">
          ¡Esta sección es exclusivamente para ti! Sabemos que vivir un proceso terapéutico es un viaje emocional lleno
          de crecimiento personal. Por ello, queremos dar visibilidad a todas aquellas personas que les apetezca
          publicar su aprendizaje.
        </p>

      </div>
    </div> <!-- / .row -->

    <!-- Carrousel -->
    <div class="flickity-button-white mb-4"
      data-flickity='{"pageDots": false,"cellAlign": "left", "wrapAround": true, "imagesLoaded": true}'>
      <div class="col-12 col-md-4 px-2">
        <img src="assets/img/covers/cover-5.jpg" class="img-fluid rounded" alt="...">
      </div>
      <div class="col-12 col-md-4 px-2">
        <img src="assets/img/covers/cover-6.jpg" class="img-fluid rounded" alt="...">
      </div>
      <div class="col-12 col-md-4 px-2">
        <img src="assets/img/covers/cover-7.jpg" class="img-fluid rounded" alt="...">
      </div>
      <div class="col-12 col-md-4 px-2">
        <a href="#">
          <img src="assets/img/covers/cover-8.jpg" class="img-fluid rounded" alt="...">
        </a>
      </div>
    </div>

    <div class="text-center text-primary mt-7">
      <a href="#!" class="font-weight-bold text-decoration-none">
        ÚNETE Y PARTICIPA<i class="fe fe-arrow-right ml-3"></i>
      </a>
    </div>

  </div> <!-- / .container -->
</section>

<!-- SHAPE -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    @@include("assets/img/shapes/curves/curve-2.svg")
  </div>
</div>