{{!-- Widget YouCanBookMe --}}
<section class="pt-12 bg-info">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">

            <div class="col-12 text-center">
                <h2 class="display-3">Reserva tu cita</h2>
            </div>

            <!-- Principio del widget integrado de Calendly -->
            <div class="calendly-inline-widget mt-n6"
                data-url="https://calendly.com/munay?hide_landing_page_details=1&primary_color=228e6d"
                style="min-width:115rem;height:65rem;"></div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
            <!-- Final del widget integrado de Calendly -->

        </div>
    </div>
</section>