{{!-- Cartas de precios --}}
<section class="pt-12 bg-info">
    <div class="container-fluid px-10">
        <div class="row align-items-center justify-content-center px-0 px-md-12">

            <div class="col-12 text-center mb-4">
                <h1>Elige tu modalidad</h1>
            </div>



            {{!-- Online --}}
            <div class="col-12 col-md-6 mb-6 mb-md-0">
                <div class="card shadow-lg lift">

                    {{!-- Header --}}
                    <h3 class="card-header font-weight-bold text-center text-white bg-primary"><i
                            class="fe fe-map-pin mr-2"></i>Presencial</h3>

                    <div class="card-body">

                        <div class="row">
                            <div class="col-6">
                                {{!-- Modalidad --}}
                                <div class="text-center text-primary mb-3">
                                    <h3 class="font-weight-bold">Individual</h3>
                                </div>

                                {{!-- Precio --}}
                                <div class="d-flex justify-content-center mb-5">
                                    <span class="price display-2 mb-0" data-annual="50" data-monthly="45">50</span>
                                    <span class="h2 mb-0 mt-4">€</span>
                                    <span class="h2 align-self-end mb-1 text-gray-400">/h</span>
                                </div>

                                <!-- Button -->
                                <div class="text-center">
                                    <a href="#!" class="btn btn-sm btn-pill btn-block btn-primary">
                                        Reservar
                                    </a>
                                </div>
                            </div>

                            <div class="col-6">
                                {{!-- Modalidad --}}
                                <div class="text-center text-primary mb-3">
                                    <h3 class="font-weight-bold">Parejas</h3>
                                </div>

                                {{!-- Precio --}}
                                <div class="d-flex justify-content-center mb-5">
                                    <span class="price display-2 mb-0" data-annual="70" data-monthly="65">70</span>
                                    <span class="h2 mb-0 mt-4">€</span>
                                    <span class="h2 align-self-end mb-1 text-gray-400">/h</span>
                                </div>


                                <div class="text-center">
                                    <a href="#!" class="btn btn-sm btn-pill btn-block btn-primary">
                                        Reservar
                                    </a>
                                </div>
                            </div>
                        </div>







                    </div>
                </div>
            </div>

            {{!-- Parejas --}}
            <div class="col-12 col-md-6">
                <div class="card shadow-lg lift">

                    {{!-- Header --}}
                    <h3 class="card-header font-weight-bold text-center text-white bg-primary"><i
                            class="fe fe-globe mr-2"></i>Online</h3>

                    <div class="card-body">

                        <div class="row">
                            <div class="col-6">
                                {{!-- Modalidad --}}
                                <div class="text-center text-primary mb-3">
                                    <h3 class="font-weight-bold">Individual</h3>
                                </div>

                                {{!-- Precio --}}
                                <div class="d-flex justify-content-center mb-5">
                                    <span class="price display-2 mb-0" data-annual="40" data-monthly="35">40</span>
                                    <span class="h2 mb-0 mt-4">€</span>
                                    <span class="h2 align-self-end mb-1 text-gray-400">/h</span>
                                </div>

                                <!-- Button -->
                                <div class="text-center">
                                    <a href="#!" class="btn btn-sm btn-pill btn-block btn-primary">
                                        Reservar
                                    </a>
                                </div>
                            </div>

                            <div class="col-6">
                                {{!-- Modalidad --}}
                                <div class="text-center text-primary mb-3">
                                    <h3 class="font-weight-bold">Parejas</h3>
                                </div>

                                {{!-- Precio --}}
                                <div class="d-flex justify-content-center mb-5">
                                    <span class="price display-2 mb-0" data-annual="60" data-monthly="55">60</span>
                                    <span class="h2 mb-0 mt-4">€</span>
                                    <span class="h2 align-self-end mb-1 text-gray-400">/h</span>
                                </div>

                                <div class="text-center">
                                    <a href="#!" class="btn btn-sm btn-pill btn-block btn-primary">
                                        Reservar
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>



            {{!-- Toggle --}}
            <div class="col-12 mt-7 text-center">

                <h3 class="text-primary">Ahorra con nuestros bonos</h3>

                <!-- Form -->
                <form class="d-flex align-items-center justify-content-center mb-7 mb-md-9">

                    <!-- Label -->
                    <span class="font-size-lg">
                        Estándar
                    </span>

                    <!-- Switch -->
                    <div class="custom-control custom-switch  mx-3">
                        <input type="checkbox" class="custom-control-input" id="billingSwitch" data-toggle="price"
                            data-target=".price">
                        <label class="custom-control-label" for="billingSwitch"></label>
                    </div>

                    <!-- Label -->
                    <span class="font-size-lg">
                        5 Sesiones
                    </span>

                </form>


            </div>

        </div>
    </div>
</section>

<section class="bg-info">
    <div class="container-fluid px-10">

        <div class="row align-items-center px-0 px-md-12 text-center">

            <div class="col-12 col-md-6">
                <div class="card shadow-light">
                    <div class="card-body">
                        <h3 class="font-weight-bold text-primary">
                            50% Descuento en la primera consulta
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card shadow-light">
                    <div class="card-body">
                        <h3 class="font-weight-bold text-primary">
                            Posibilidad de reembolso
                        </h3>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="bg-info py-8">
    <div class="container-fluid px-10">

        <div class="row align-items-center justify-content-around text-center">

            <div class="col-12">
                <h2 class="text-primary">Preguntas frecuentes</h2>
            </div>

            <div class="col-12 col-md-6">
                <p>hola</p>
            </div>

            <div class="col-12 col-md-6">
                <p>hola</p>
            </div>

        </div>

    </div>
</section>