<footer class="py-8 pt-md-11 pb-md-4 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-5 ml-5 ml-md-0 mb-2">

        <!-- Brand -->
        <img src="/img/logomunay5.svg" alt="Munay - Centro de Psicología Aplicada"
          class="footer-brand img-fluid mw-75 mw-md-100 mb-4">

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-4 mb-md-5">

          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.instagram.com/instamunay/" class="text-decoration-none"
              rel="me noopener noreferrer nofollow" target="_blank">
              <img src="/img/icons/social/instagram.svg" class="list-social-icon"
                alt="Perfil de Instagram - Munay Psicología">
            </a>
          </li>

          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.facebook.com/munaypsicologiaclinica/" class="text-decoration-none"
              rel="me noopener noreferrer nofollow" target="_blank">
              <img src="/img/icons/social/facebook.svg" class="list-social-icon"
                alt="Perfil de Facebook - Munay Psicología">
            </a>
          </li>

          <li class="list-inline-item list-social-item mr-2">
            <a href="https://www.linkedin.com/company/munay-psicolog%C3%ADa/" class="text-decoration-none"
              rel="me noopener noreferrer nofollow" target="_blank">
              <img src="/img/icons/social/linkedin.svg" style="max-width: 1.6rem;" class="list-social-icon"
                alt="Perfil de Linkedin - Munay Psicología">
            </a>
          </li>

          <li class="list-inline-item list-social-item">
            <a href="#" class="text-decoration-none">
              <img src="/img/icons/social/twitter.svg" class="list-social-icon"
                alt="Perfil de Twitter - Munay Psicología">
            </a>
          </li>



        </ul>

        <!-- Formas de contacto -->
        <ul class="list text-muted mb-6">
          <li class="list-item mb-2">
            <i class="fe fe-mail mr-2"></i>
            <a href="mailto:info@munay.es" class="d-inline text-muted" style="text-decoration: none;">
              info@munay.es
            </a>
          </li>

          <li class="list-item">
            <i class="fe fe-phone mr-2"></i>
            <a href="tel:676380984" class="d-inline text-muted" style="text-decoration: none;">
              +34 676 38 09 84
            </a>
          </li>

          <li class="list-item">
            <i class="fe fe-map-pin mr-2"></i>
            <p class="d-inline">Por informar. Madrid.</p>
          </li>
        </ul>




      </div>

      <div class="col-7">
        <div class="row ml-auto mx-n15">

          <!-- Sección 1 -->
          <div class="col-6 col-md-3">

            <!-- Heading -->
            <h4 class="font-weight-bold text-uppercase text-gray-700 mb-4">
              Servicios
            </h4>

            <!-- List -->
            <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Especialidades
                </a>
              </li>
              <li class="mb-3">
                <a href="/tarifas" class="text-reset">
                  Tarifas
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Recursos
                </a>
              </li>
              <li class="mb-3">
                <a href="/blog" class="text-reset">
                  Blog
                </a>
              </li>
            </ul>

          </div>

          <!-- Seccion 2 -->
          <div class="col-6 col-md-3">

            <!-- Heading -->
            <h4 class="font-weight-bold text-uppercase text-gray-700 mb-4">
              Acerca de
            </h4>

            <!-- List -->
            <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Sobre nosotros
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Reserva tu cita
                </a>
              </li>
              <li class="mb-3">
                <a href="/contacto" class="text-reset">
                  Contacto
                </a>
              </li>
            </ul>

          </div>

          <!-- Seccion 3 -->
          <div class="col-6 col-md-3">

            <!-- Heading -->
            <h4 class="font-weight-bold text-uppercase text-gray-700 mb-4">
              Legal
            </h4>

            <!-- List -->
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-3">
                <a href="/aviso-legal" class="text-reset">
                  Aviso legal 
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Política de privacidad
                </a>
              </li>
              <li class="mb-3">
                <a href="#!" class="text-reset">
                  Política de cookies
                </a>
              </li>
            </ul>

          </div>


        </div>
      </div>

    </div> <!-- / .row -->

    <div class="row align-items-center justify-content-end mt-3 mt-md-0 mr-3 mr-md-0">
      <img src="/img/logo-copmadrid.png" alt="Munay - Colegio Oficial de Psicólogos Madrid"
        class="footer-brand  my-3 mr-5 mr-md-6 mt-n4" style="max-width: 9rem;">

      <a href="https://www.mundopsicologos.com/centros/munay" target="_blank">
        <img src="img/logomundo2.png" alt="Munay" border="0" class="footer-brand mb-5 rounded"
          style="max-width: 10rem;" />
      </a>

    </div>
  </div> <!-- / .container -->
</footer>


<script>
  class WhatsAppBtn {

    constructor({ dialcode, phone, text }) {
      this.dialcode = dialcode
      this.phone = phone
      this.text = text
    }

    renderButton() {
      let fontAwesome = document.createElement('script')
      fontAwesome.setAttribute('src', 'https://kit.fontawesome.com/2640aa91b4.js')
      document.body.appendChild(fontAwesome)

      let roboto = document.createElement('link')
      roboto.setAttribute('href', 'https://fonts.googleapis.com/css?family=Roboto&display=swap')
      roboto.setAttribute('rel', 'stylesheet')
      document.body.appendChild(roboto)

      let styles = document.createElement('link')
      styles.setAttribute('href', '/css/theme.min.css')
      styles.setAttribute('rel', 'stylesheet')
      styles.setAttribute('type', 'text/css')
      document.body.appendChild(styles)

      let root = document.createElement('div')
      root.className = 'WhatsAppButton__root'
      root.setAttribute('style', 'position: fixed; bottom: 25px; right: 20px;')
      document.body.appendChild(root);

      let button_root = document.createElement('a')
      button_root.setAttribute('href', `https://api.whatsapp.com/send?phone=${this.dialcode}${this.phone}&text=${this.text}`)
      button_root.setAttribute('style', 'text-decoration: none')
      button_root.setAttribute('target', '_blank')
      root.appendChild(button_root)

      let button = document.createElement('button')
      button.setAttribute('class', 'landbot-whatsapp__button')
      button_root.appendChild(button)

      let whatsappIcon = document.createElement('i')
      whatsappIcon.setAttribute('class', 'fab fa-whatsapp')
      whatsappIcon.setAttribute('style', 'font-size: 32px;')
      button.appendChild(whatsappIcon)

    }
  }
</script>

<script>
  var whatsAppBtn = new WhatsAppBtn({
    dialcode: '34',
    phone: '676380984',
    text: 'Hola. Me gustaría realizar realizar una consulta.',
  });
  whatsAppBtn.renderButton()
</script>