
<footer class="py-8 py-md-11 @@classList">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 ml-5 ml-md-0 mb-2">
        
        <!-- Brand -->
        <img src="/img/logomunay5.svg" alt="Munay - Centro de Psicología Aplicada" class="footer-brand img-fluid mb-2">

        <!-- Text -->
        <p class="text-gray-700 mb-2">
          Asistencia psicológica basada en la evidencia.
        </p>

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-4 mb-md-5">

          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.instagram.com/instamunay/" class="text-decoration-none" 
            rel="me noopener noreferrer nofollow" target="_blank">
              <img src="img/icons/social/instagram.svg" class="list-social-icon" alt="Perfil de Instagram - Munay Psicología">
            </a>
          </li>

          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.facebook.com/munaypsicologiaclinica/" class="text-decoration-none"
            rel="me noopener noreferrer nofollow" target="_blank">
              <img src="/img/icons/social/facebook.svg" class="list-social-icon" alt="Perfil de Facebook - Munay Psicología">
            </a>
          </li>
        </ul>

        <!-- Formas de contacto -->
        <ul class="list text-muted mb-4">
          <li class="list-item mb-2">
            <i class="fe fe-mail mr-2"></i>
            <p class="d-inline">contacto@munay.es</p>
          </li>

          <li class="list-item">
            <i class="fe fe-phone mr-2"></i>
            <p class="d-inline">+34 611 444 667</p>
          </li>

          <li class="list-item">
            <i class="fe fe-map-pin mr-2"></i>
            <p class="d-inline">C/ Goya 29. 28030 Madrid.</p>
          </li>
        </ul>

        <img src="img/logo-copmadrid.png" alt="Munay - Colegio Oficial de Psicólogos Madrid" class="footer-brand mw-25 my-3">
      </div>

      <div class="col-6">
        <div class="row ml-auto mx-n15">

            <!-- Sección 1 -->
      <div class="col-6 col-md-3">
        
        <!-- Heading -->
        <h5 class="font-weight-bold text-uppercase text-gray-700 mb-4">
          Servicios
        </h5>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Especialidades
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Tarifas
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Recursos
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Blog
            </a>
          </li>
        </ul>

      </div>

      <!-- Seccion 2 -->
      <div class="col-6 col-md-3">
        
        <!-- Heading -->
        <h5 class="font-weight-bold text-uppercase text-gray-700 mb-4">
          Acerca de
        </h5>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Sobre nosotros
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Reserva tu cita
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Contacto
            </a>
          </li>
        </ul>

      </div>

      <!-- Seccion 3 -->
      <div class="col-6 col-md-3">
        
        <!-- Heading -->
        <h5 class="font-weight-bold text-uppercase text-gray-700 mb-4">
          Legal
        </h5>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Términos y condiciones
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Política de privacidad
            </a>
          </li>
                    <li class="mb-3">
            <a href="#!" class="text-reset">
              Política de cookies
            </a>
          </li>
        </ul>

      </div>
     

        </div>
      </div>
    
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>