<section class="pt-12" style="background: #e4f3f48a;">

    <div class="container">

        <div class="row align-items-center justify-content-center pb-8">

            {{!-- Título --}}
            <div class="col-12 text-center pt-2 mb-5">
                <h1 class="display-3 text-uppercase"> Terapia para
                    <span class="font-weight-bold">
                        Adultos
                    </span>
                </h1>
            </div>

            {{!--  Contenido 1 --}}
            <div class="col-12 text-left" style="font-size: 1.35rem;">
                <div class="mb-4">

                    <p>
                        Cuando dejamos atrás la niñez observamos que hay días buenos y no tan buenos.
                    </p>

                    <p>
                        No obstante, a veces los días complicados duran más de la cuenta o el sufrimiento es tan intenso
                        que te desbordas. Estás ante un bache emocional que por alguna razón sobrepasa los recursos que
                        tienes actualmente y te está costando gestionar más que en otras ocasiones.
                    </p>

                    <p>
                        Quizá intentes hacer como si nada esperando a que pase con el transcurso del tiempo o te pones a
                        intentar resolverlo. Pero por algún motivo que desconocemos en este momento, la situación no
                        mejora y cada vez te encuentras con menos fuerzas.
                    </p>

                    <p>
                        Incluso puede que te veas repitiendo los mismos comportamientos que otras veces no te han
                        llevado
                        a buenos resultados.
                    </p>

                </div>

            </div>

            {{!-- Ilustración --}}
            <div class="col-12 text-center pt-8 img-fluid">
                <img src="/img/services/adultos1.png" alt="" >
            </div>

            {{!-- Contenido 2 --}}
            <div class="col-12 pt-6" style="font-size: 1.35rem;">

                <p>
                    <span class="font-weight-bold">
                        Es normal que te preguntes por qué y no encuentres respuestas.
                    </span> Te aconsejamos que no te juzgues.
                    Normalmente actuamos de una manera por algo aunque no seamos del todo conscientes. Quizás porque
                    hayamos aprendido a “ser” así, porque nos sirvió en un momento dado, porque nos es más
                    beneficioso la consecuencia de mantenernos así que realizar otra conducta diferente...
                </p>

                <p>
                    Puede que ahora mismo te falte <span class="font-weight-bold">PERSPECTIVA. AYUDA.
                        CONOCIMIENTO.</span>
                    Dicen que las cosas se ven mejor desde fuera y por eso quien se interesa por nosotros nos da
                    consejos. Algunos más o menos acertados pero tampoco vamos a entrar a juzgarlos ¿Para qué si lo
                    hacen con toda su buena voluntad? Nuestro objetivo en terapia es esclarecer, entender,
                    relacionarnos con los demás de manera que nos haga sentir bien.
                </p>

                <p>
                    La psicóloga es como el tercer ojo que nos falta pero además aporta el conocimiento científico
                    de forma entendible y facilita herramientas para que mejore tu funcionamiento diario.
                </p>
            </div>

            {{!-- Contenido 3 --}}
            <div class="col-12 pt-7" style="font-size: 1.35rem;">
                <div class="text-left">

                    <h2 class="display-4 text-primary pb-7">Déjanos decirte algo <br> si has estado en alguna de estas
                        situaciones: </h2>

                    {{!-- Si te encuentras mal --}}
                    <div class="d-flex">

                        <div class="icon text-secondary">
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z" />
                                    <path
                                        d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z"
                                        fill="#335EEA" opacity=".3" />
                                    <path
                                        d="M10.875 15.75a.946.946 0 01-.67-.287l-1.918-1.917a.926.926 0 010-1.342c.384-.383 1.007-.383 1.342 0l1.246 1.246 3.162-3.162a.926.926 0 011.342 0 .926.926 0 010 1.341l-3.833 3.834a.946.946 0 01-.671.287zM11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z"
                                        fill="#335EEA" />
                                </g>
                            </svg>
                        </div>

                        <div class="ml-5 mb-6">

                            <h3 class="font-weight-bold text-uppercase">
                                Si te encuentras mal, pide ayuda.
                            </h3>

                            <p>
                                A lo mejor, no se te ha ocurrido acudir a un psicólogo porque quizás no sepas
                                que lo que te ocurre es un problema común y que por tanto tiene solución. Comparte tu
                                malestar con alguien que te respete y cuide y empieza a observar qué sucede.
                            </p>

                        </div>

                    </div>

                    {{!-- Si pensaste en acudir --}}
                    <div class="d-flex">

                        <div class="icon text-secondary">
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z" />
                                    <path
                                        d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z"
                                        fill="#335EEA" opacity=".3" />
                                    <path
                                        d="M10.875 15.75a.946.946 0 01-.67-.287l-1.918-1.917a.926.926 0 010-1.342c.384-.383 1.007-.383 1.342 0l1.246 1.246 3.162-3.162a.926.926 0 011.342 0 .926.926 0 010 1.341l-3.833 3.834a.946.946 0 01-.671.287zM11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z"
                                        fill="#335EEA" />
                                </g>
                            </svg>
                        </div>

                        <div class="ml-5 mb-6">

                            <h3 class="font-weight-bold text-uppercase">
                                Si pensaste en acudir, pero no te decidiste a hacerlo.
                            </h3>

                            <p>
                                Es normal ponerse excusas más ruidosas: <span class="font-italic">“No estoy tan mal”,
                                    “Va a pensar que estoy
                                    loco/a”, “¿Qué van a pensar los demás?”</span>. O que te de miedo lo que puedas
                                averiguar. O
                                simplemente prefieres invertir ese dinero en hacer planes con tus amigas,
                                compras,...cosas que te hacen sentir bien también Todas entendibles pero… ¿por qué si no
                                acabas de estar del todo bien, no intentar una posible solución?
                            </p>

                        </div>

                    </div>

                    {{!-- Si has ido --}}
                    <div class="d-flex">

                        <div class="icon text-secondary">
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z" />
                                    <path
                                        d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z"
                                        fill="#335EEA" opacity=".3" />
                                    <path
                                        d="M10.875 15.75a.946.946 0 01-.67-.287l-1.918-1.917a.926.926 0 010-1.342c.384-.383 1.007-.383 1.342 0l1.246 1.246 3.162-3.162a.926.926 0 011.342 0 .926.926 0 010 1.341l-3.833 3.834a.946.946 0 01-.671.287zM11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z"
                                        fill="#335EEA" />
                                </g>
                            </svg>
                        </div>

                        <div class="ml-5 mb-6">

                            <h3 class="font-weight-bold text-uppercase">
                                Si has ido, pero no te sirvió del todo <br> y piensas que la psicología no te puede
                                ayudar.
                            </h3>

                            <p>
                                La terapia como tantas otras disciplinas no está robotizada (al menos todavía). Son
                                varios los factores que influyen en el progreso terapéutico (perfil del paciente y
                                enfoque terapéutico, implicación en el proceso, características personales de ambos,
                                momento vital de la persona, entre otros). Te aconsejo no ser tan tajante con algo que
                                de verdad importa: TU SALUD. Normalizamos acudir a varios profesionales médicos (por ejemplo
                                traumatólogos) antes de decidir qué operación/medicación tomar. ¿Por qué no hacer lo
                                mismo con la psicología?
                            </p>

                        </div>

                    </div>



                </div>
            </div>

            <div class="col-12 col-md-10">

                <blockquote class="blockquote pt-4">
                    <p class="text-center text-primary mb-6 px-0 px-md-9" style="font-size: 2rem;">
                        Este puede ser el lugar donde poner nombre y solución a tus problemas.
                    </p>

                    <p class="text-center text-secondary" style="font-size: 1.3rem;">
                        Así que te invito. <br>

                        Te invito a que
                        <span data-toggle="typed"
                            data-options='{"strings": ["lo pruebes.", "no dejes pasar el tiempo.", "inviertas en ti."]}'></span>

                    <p class="text-center text-primary" style="font-size: 1.3rem;">
                        Porque si tú estás bien, todo lo que te suceda estará mejor.
                    </p>

                </blockquote>

            </div>


            <div class="col-12 col-md-2 text-center">
                <img src="/img/services/adultos4.png" class="ml-0 ml-md-n11" alt="" style="max-width: 14rem;">
            </div>

        </div>


    </div>

</section>

{{!-- Shape --}}
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor" />
        </svg>
    </div>
</div>

{{!-- Cartas --}}
<section class="pt-5 bg-light pb-6">
    <div class="container-fluid px-4 px-md-6 px-lg-10">

        <h2 class="display-4 text-primary text-center text-uppercase font-weight-bold pt-9 pb-6">
            Áreas de mejora
        </h2>

        <div class="row align-items-center justify-content-center">

            {{!-- Ansiedad --}}
            <div class="col-12 col-md-6 d-flex">

                <div class="card shadow-light-lg lift card-hover mb-6">

                    <div class="card-body">

                        {{!-- Título e Ilustración --}}
                        <div class="text-center">
                            <h2 class="card-body display-4 mb-0 mt-n6">Ansiedad</h2>

                            <a class="card-img" href="#!">
                                <img src="/img/services/ansiedad-adultos.png" alt="..." style="max-width: 13rem;">
                            </a>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#ansiedad" role="button" aria-expanded="false" aria-controls="ansiedad">

                                <div class="text-secondary text-uppercase font-weight-bold mt-3"
                                    style="font-size: 1.35rem;">
                                    <span>Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        {{!-- Contenido --}}
                        <div class="collapse mt-6" id="ansiedad" style="font-size: 1.3rem;">

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>


                                <span class="font-weight-bold">
                                    Fobias específicas:
                                </span> fobia escolar, fobia social, a la sangre o inyecciones, a determinados
                                espacios, a animales, etc.

                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Ansiedad y preocupación excesivas sobre acontecimientos variados.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                <span class="font-weight-bold">
                                    Respuesta intensa de ansiedad:
                                </span> sudoración, palpitaciones, vértigos, temblores.
                            </p>
                        </div>

                    </div>

                </div>

            </div>

            {{!-- Obsesiones y Compulsiones --}}
            <div class="col-12 col-md-6 d-flex">

                <div class="card shadow-light-lg lift card-hover mb-6">

                    <div class="card-body">

                        {{!-- Título e Ilustración --}}
                        <div class="text-center">
                            <h2 class="card-body display-4 mb-0 mt-n6">Obsesiones y Compulsiones</h2>

                            <a class="card-img" href="#!">
                                <img src="/img/services/obsesiones.png" alt="..." style="max-width: 13rem;">
                            </a>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#obsesiones" role="button" aria-expanded="false" aria-controls="obsesiones">

                                <div class="text-secondary text-uppercase font-weight-bold mt-3"
                                    style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        {{!-- Contenido --}}
                        <div class="collapse mt-6" id="obsesiones" style="font-size: 1.3rem;">

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Pensamientos, impulsos o imágenes sobre un tema que se presentan de forma recurrente y
                                persistente.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Necesidad de realizar ciertos comportamientos de manera repetitiva para reducir o
                                prevenir la ansiedad.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Preocupación excesiva por algún defecto físico real o imaginado.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Incapacidad para deshacerse de objetos.
                            </p>
                        </div>

                    </div>

                </div>

            </div>

            {{!-- Relación con uno mismo --}}
            <div class="col-12 col-md-6 d-flex">

                <div class="card shadow-light-lg lift card-hover mb-6">

                    <div class="card-body">

                        {{!-- Título e Ilustración --}}
                        <div class="text-center">
                            <h2 class="card-body display-4 mb-0 mt-n6">Relación con uno mismo</h2>

                            <a class="card-img" href="#!">
                                <img src="/img/services/relacion-uno-mismo.png" alt="..." style="max-width: 20rem;">
                            </a>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#relacionUnoMismo" role="button" aria-expanded="false"
                                aria-controls="relacionUnoMismo">

                                <div class="text-secondary text-uppercase font-weight-bold mt-3"
                                    style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        {{!-- Contenido --}}
                        <div class="collapse mt-6" id="relacionUnoMismo" style="font-size: 1.3rem;">

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Pensamientos de autodesprecio, o descalificadores sobre uno mismo.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Sentimientos de culpa.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Autolesionarse o sentir la necesidad de hacerlo.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Sentimientos de vacío recurrentes.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Sensación de valer menos constantemente.
                            </p>


                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Miedo a perder el control, a volverse loco.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Características de nuestra forma de ser que resultan problemáticas en el día a día:
                                perfeccionismo, rigidez cognitiva, labilidad emocional, hiperexigencia, dependencia
                                emocional.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Dificultades en la toma de decisiones: exceso de impulsividad o meditación.
                            </p>

                        </div>

                    </div>

                </div>

            </div>

            {{!-- Relación con los entorno --}}
            <div class="col-12 col-md-6 d-flex">

                <div class="card shadow-light-lg lift card-hover mb-6">

                    <div class="card-body">

                        {{!-- Título e Ilustración --}}
                        <div class="text-center">
                            <h2 class="card-body display-4 mb-0 mt-n6">Relación con el entorno</h2>

                            <a class="card-img" href="#!">
                                <img src="/img/services/relacion-entorno.png" alt="..." style="max-width: 20rem;">
                            </a>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#relacionEntorno" role="button" aria-expanded="false"
                                aria-controls="relacionEntorno">

                                <div class="text-secondary text-uppercase font-weight-bold mt-3"
                                    style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        {{!-- Contenido --}}
                        <div class="collapse mt-6" id="relacionEntorno" style="font-size: 1.3rem;">

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Timidez excesiva.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Problemas de agresividad.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Explosiones de cólera graves, recurrentes y desproporcionadas a la situación.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Evitación de situaciones sociales.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Pensamientos o sentimiento de ser criticado, humillado, infravalorado por el entorno.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Miedo a la soledad o abandono.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Conductas de celos.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Problemas para delegar tareas.
                            </p>
                        </div>

                    </div>

                </div>

            </div>

            {{!-- Relación con la comida --}}
            <div class="col-12 col-md-6 d-flex">

                <div class="card shadow-light-lg lift card-hover mb-6">

                    <div class="card-body">

                        {{!-- Título e Ilustración --}}
                        <div class="text-center">
                            <h2 class="card-body display-4 mb-0 mt-n6">Relación con la comida</h2>

                            <a class="card-img" href="#!">
                                <img src="/img/services/relacion-comida.png" alt="..." style="max-width: 20rem;">
                            </a>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#relacionComida" role="button" aria-expanded="false"
                                aria-controls="relacionComida">

                                <div class="text-secondary text-uppercase font-weight-bold mt-3"
                                    style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        {{!-- Contenido --}}
                        <div class="collapse mt-6" id="relacionComida" style="font-size: 1.3rem;">

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Miedo a engordar o a perder el control sobre la comida.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Limitar la ingesta de alimentos a una cantidad o selección muy reducida.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Atracones de comida (ingerir gran cantidad de comida en poco tiempo y de manera
                                descontrolada).
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Realización de conductas compensatorias a la ingesta de alimentos.
                            </p>
                        </div>

                    </div>

                </div>

            </div>

            {{!-- Estado de Ánimo --}}
            <div class="col-12 col-md-6 d-flex">

                <div class="card shadow-light-lg lift card-hover mb-6">

                    <div class="card-body">

                        {{!-- Título e Ilustración --}}
                        <div class="text-center">
                            <h2 class="card-body display-4 mb-0 mt-n6">Estado de Ánimo</h2>

                            <a class="card-img" href="#!">
                                <img src="/img/services/estado-animo.png" alt="..." style="max-width: 13rem;">
                            </a>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#estadoAnimo" role="button" aria-expanded="false" aria-controls="estadoAnimo">

                                <div class="text-secondary text-uppercase font-weight-bold mt-3"
                                    style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        {{!-- Contenido --}}
                        <div class="collapse mt-6" id="estadoAnimo" style="font-size: 1.3rem;">

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                <span class="font-weight-bold">Inestabilidad emocional:</span> cambios de humor
                                repentinos, frecuentes.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                <span class="font-weight-bold">Emociones intensas o duraderas:</span> tristeza, apatía,
                                desmotivación.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Estado de ánimo irritable a menudo.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Desesperanza.
                            </p>
                        </div>

                    </div>

                </div>

            </div>

            {{!-- Dificultades relacionadas con el estrés --}}
            <div class="col-12 col-md-6 d-flex">

                <div class="card shadow-light-lg lift card-hover mb-6">

                    <div class="card-body">

                        {{!-- Título e Ilustración --}}
                        <div class="text-center">
                            <h2 class="card-body display-4 mb-0 mt-n6">Dificultades relacionadas <br> con el estrés</h2>

                            <a class="card-img" href="#!">
                                <img src="/img/services/estres.png" alt="..." style="max-width: 18rem;">
                            </a>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#estres" role="button" aria-expanded="false" aria-controls="estres">

                                <div class="text-secondary text-uppercase font-weight-bold mt-3"
                                    style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        {{!-- Contenido --}}
                        <div class="collapse mt-6" id="estres" style="font-size: 1.3rem;">

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                <span class="font-weight-bold"> Dificultad para adaptarse
                                    a un cambio importante en tu rutina:</span> pérdida o ruptura con un ser querido
                                (duelo), cambio de residencia, ocupación laboral.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Conflictos familiares frecuentes que no sabes cómo afrontar.
                            </p>

                        </div>

                    </div>

                </div>

            </div>

            {{!-- Dificultades en el ámbito sexual --}}
            <div class="col-12 col-md-6 d-flex">

                <div class="card shadow-light-lg lift card-hover mb-6">

                    <div class="card-body">

                        {{!-- Título e Ilustración --}}
                        <div class="text-center">
                            <h2 class="card-body display-4 mb-0 mt-n6">Dificultades en <br> el ámbito sexual</h2>

                            <a class="card-img" href="#!">
                                <img src="/img/services/sexo.png" alt="..." style="max-width: 18rem;">
                            </a>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#sexo" role="button" aria-expanded="false" aria-controls="sexo">

                                <div class="text-secondary text-uppercase font-weight-bold mt-3"
                                    style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        {{!-- Contenido --}}
                        <div class="collapse mt-6" id="sexo" style="font-size: 1.3rem;">

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Disminución del deseo sexual.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                <span class="font-weight-bold">
                                    Dificultades en la excitación:
                                </span> problemas para mantener la erección.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Dificultad para disfrutar o sentir placer durante la relación sexual.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Contracción involuntaria de la musculatura vaginal con/sin dolor durante la penetración.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                <span class="font-weight-bold">Descontento con la velocidad de la respuesta
                                    sexual:</span> eyaculación precoz o retardada.
                            </p>
                        </div>

                    </div>

                </div>

            </div>

            {{!-- Reserva tu cita --}}
            <div class="text-center text-uppercase py-5">

                <h3 class="text-secondary mb-5 px-2">Te mereces darte todas las oportunidades que hagan falta.
                </h3>

                <a href="/reserva" class="btn btn-secondary btn-lg text-white shadow lift mr-1" style="font-size: 1.4rem;">
                    Reserva tu cita
                </a>
            </div>

        </div> <!-- / .row -->

    </div>
</section>

{{!-- Shape --}}
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim" style="color: #e4f3f48a;">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor" />
        </svg>
    </div>
</div>

{{!-- Otras especialidades --}}
<section style="background: #e4f3f48a;">
    <div class="container-fluid px-6 px-md-10 py-9">

        <h2 class="display-4 text-center">
            Otras especialidades que trabajamos
        </h2>

        <div class="row align-items-center">

            {{!-- Adultos --}}
            <div class="col-12 col-md-4 text-center" data-aos="fade-up">

                <a href="/tercera-edad">

                    <img src="/img/illustrations/tercera-edad.svg" alt="Terapia psicológica para Tercera Edad"
                        style="max-width: 15rem;">

                    <h2 class="text-primary">Tercera Edad</h2>
                </a>

            </div>

            {{!-- Tercera edad --}}
            <div class="col-12 col-md-4 text-center" data-aos="fade-up">
                <a href="/infantojuvenil">

                    <img src="/img/illustrations/infantojuvenil.svg" alt="Terapia psicológica para Niños y Adolescentes"
                        style="max-width: 15rem;">

                    <h2 class="text-primary">Infantojuvenil</h2>
                </a>
            </div>

            {{!-- Parejas --}}
            <div class="col-12 col-md-3 text-center" data-aos="fade-up">
                <a href="/parejas">

                    <img src="/img/illustrations/parejas.svg" alt="Terapia psicológica Parejas"
                        style="max-width: 15rem;">

                    <h2 class="text-primary">Parejas</h2>
                </a>
            </div>

        </div> <!-- / .row -->

    </div>
</section>

{{!-- Shape --}}
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 56" fill="none">
            <path
                d="M720 28H0V56H995.5H1639.5H2880V28H2160C2160 28 1874 -9.82909e-10 1440 0C1006 9.829e-10 720 28 720 28Z"
                fill="currentColor" />
        </svg>
    </div>
</div>