<section class="pt-12">
    <div class="container-fluid px-10">
        <div class="row align-items-center justify-content-center mb-8">

            <div class="col-12 text-center text-primary">
                <h1 class="display-3">Terapia para Niños y Adolescentes</h2>
            </div>

            <div class="col-12 px-15 font-size-lg">
                <p>
                    La educación parental puede ser difícil en algunos momentos. Además, tenemos algunos retos que se
                    nos van presentando de forma insidiosa como la conciliación laboral y familiar cuando las jornadas
                    son cada vez más amplias o el uso de las tecnologías que se adelanta y está presente en casi todos
                    los contextos.
                </p>

                <p>
                    Esto puede ocasionar que el funcionamiento normal del niño o adolescente y por consiguiente, la
                    relación con su familia se vean alterados en un momento siendo conveniente la aplicación de ciertas
                    técnicas para reorientar la conducta o aliviar el malestar. No sería algo de lo que avergonzarse ya
                    que en torno al 20% de niños y adolescentes de la población española sufren problemas psicológicos y
                    un 10% tienen un funcionamiento significativamente alterado.
                </p>

                <p>
                    La intervención psicológica conllevará una mejora del estado del paciente que se reflejará en la
                    relación con su entorno incluso en etapas que implican muchos cambios físicos y emocionales como la
                    adolescencia donde cada uno la vive de forma totalmente diferente. Por un lado, los adolescentes
                    experimentan sensaciones o cambian de opinión en muy poco tiempo y necesitan experimentar para ir
                    construyendo su identidad. Por otro, se encuentra el desconcierto ante esta variabilidad hormonal y
                    la preocupación de los padres porque sus hijos realicen comportamientos que les penalicen en el
                    futuro.
                </p>

                <p>
                    Gracias a la plasticidad cerebral y al menor número de experiencias que tienen, resulta más fácil
                    modificar estas creencias o conductas que además previenen la aparición de problemas más graves en
                    la edad adulta.
                </p>
            </div>


        </div>

        {{!-- Cartas --}}
        <div class="row align-items-center justify-content-center px-5 my-7">

            {{!-- Alimentación --}}
            <div class="col-12 col-md-4">

                <div class="card shadow-lg lift">
                    <div class="card-body">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/alimentacion.png" alt="Alimentación"
                                style="max-width: 11rem;">

                            <h2 class="font-weight-bold text-ce">Alimentación</h2>
                        </div>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Anorexia y bulimia nervosa.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Trastorno por atracón.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Restricción de la ingesta alimentaria.
                        </p>
                    </div>
                </div>

            </div>


            {{!-- Sueño --}}
            <div class="col-12 col-md-4">

                <div class="card shadow-lg lift">
                    <div class="card-body px-8">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/sueño.png" alt="Sueño" style="max-width: 11rem;">

                            <h2 class="font-weight-bold">Sueño</h2>
                        </div>


                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Pesadillas recurrentes.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Dificultades para dormir solo.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Insomnio.
                        </p>
                    </div>
                </div>


            </div>

            {{!-- Eliminación --}}
            <div class="col-12 col-md-4">

                <div class="card shadow-lg lift">
                    <div class="card-body">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/eliminacion.png" alt="Eliminación"
                                style="max-width: 11rem;">

                            <h2 class="font-weight-bold">Eliminación</h2>
                        </div>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Emisión repetida de orina (enuresis).
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Evacuación de heces en lugares inadecuados (encopresis).
                        </p>

                    </div>
                </div>



            </div>



        </div>
    </div>
</section>