{{!--  --}}
<section class="pt-12">

    <div class="container-fluid px-6 px-md-10">
        <div class="row align-items-center justify-content-center mb-8">

            <div class="col-12 text-center mb-7">
                <h1 class="display-3">Terapia para Niños y Adolescentes</h2>
            </div>

            {{!-- Feature 1 --}}
            <div class="col-12 col-md-7 px-0 px-md-9 mb-10" style="font-size: 1.3rem;">
                <div class="mb-4">
                    <h2 class="display-4 text-primary">Un guía de educación parental</h2>
                    <p>
                        La educación parental puede ser difícil en algunos momentos. Además, tenemos algunos retos que
                        se
                        nos van presentando de forma insidiosa como la conciliación laboral y familiar cuando las
                        jornadas
                        son cada vez más amplias o el uso de las tecnologías que se adelanta y está presente en casi
                        todos
                        los contextos.
                    </p>

                    <p>
                        Esto puede ocasionar que el funcionamiento normal del niño o adolescente y por consiguiente, la
                        relación con su familia se vean alterados en un momento siendo conveniente la aplicación de
                        ciertas
                        técnicas para reorientar la conducta o aliviar el malestar. No sería algo de lo que avergonzarse
                        ya
                        que en torno al 20% de niños y adolescentes de la población española sufren problemas
                        psicológicos y
                        un 10% tienen un funcionamiento significativamente alterado.
                    </p>
                </div>

            </div>

            {{!-- Ilustración --}}
            <div class="col-12 col-md-5">

            </div>

            <div class="col-12 col-md-5"></div>

            {{!-- Feature 2 --}}
            <div class="col-12 col-md-7 px-0 px-md-9" style="font-size: 1.3rem;">
                <div class="text-left">

                    <h2 class="display-4" style="color: #E98F47;">Intervención psicológica en el equipo</h2>

                    <p>
                        La intervención psicológica conllevará una mejora del estado del paciente que se reflejará en la
                        relación con su entorno incluso en etapas que implican muchos cambios físicos y emocionales como
                        la adolescencia donde cada uno la vive de forma totalmente diferente.
                    </p>

                    <p>
                        Por un lado, los adolescentes experimentan sensaciones o cambian de opinión en muy poco tiempo y
                        necesitan experimentar para ir construyendo su identidad. Por otro, se encuentra el desconcierto
                        ante esta variabilidad hormonal y la preocupación de los padres porque sus hijos realicen
                        comportamientos que les penalicen en el futuro.
                    </p>

                    <p>
                        Gracias a la plasticidad cerebral y al menor número de experiencias que tienen, resulta más
                        fácil
                        modificar estas creencias o conductas que además previenen la aparición de problemas más graves
                        en la edad adulta.
                    </p>

                </div>
            </div>


        </div>


    </div>


</section>

{{!-- Cartas --}}
<section class="pt-3">
    <div class="container-fluid px-4 px-md-6 px-lg-10">

        <div class="row align-items-center justify-content-center my-7">

            {{!-- Alimentación --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-primary shadow-lg lift mb-5 mb-md-7">
                    <div class="card-body">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/alimentacion.png" alt="Alimentación"
                                style="max-width: 9rem;">

                            <h2>Alimentación</h2>
                        </div>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Anorexia y bulimia nervosa.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Trastorno por atracón.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Restricción de la ingesta alimentaria.
                        </p>
                    </div>
                </div>

            </div>

            {{!-- Sueño --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-warning shadow-lg lift mb-3 mb-md-7">
                    <div class="card-body px-8">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/sueño.png" alt="Sueño" style="max-width: 9rem;">

                            <h2>Sueño</h2>
                        </div>


                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Pesadillas recurrentes.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Dificultades para dormir solo.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Insomnio.
                        </p>
                    </div>
                </div>


            </div>

            {{!-- Eliminación --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-primary shadow-lg lift mb-1 mb-md-7">
                    <div class="card-body">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/eliminacion.png" alt="Eliminación"
                                style="max-width: 9rem;">

                            <h2>Eliminación</h2>
                        </div>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Emisión repetida de orina (enuresis).
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Evacuación de heces en lugares inadecuados (encopresis).
                        </p>

                    </div>
                </div>



            </div>

            {{!-- Ansiedad --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-primary shadow-lg lift mb-5 mb-md-7">
                    <div class="card-body">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/ansiedad.png" alt="Ansiedad" style="max-width: 9rem;">

                            <h2>Ansiedad</h2>
                        </div>

                        <p class="text-gray-800 mb-5">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            <span class="font-weight-bold">Fobias específicas:</span> aversión o
                            rechazo extremo al colegio, fobia a
                            hablar en público, preocupación
                            extrema por la evaluación de los
                            demás.
                        </p>

                        <p class="text-gray-800 mb-5">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            <span class="font-weight-bold">Miedo desmesurado un estímulo concreto:</span> la sangre o
                            inyecciones, a determinados espacios o
                            animales, etc.
                        </p>

                        <p class="text-gray-800 mb-5">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            <span class="font-weight-bold">Respuesta intensa de ansiedad:</span> sudoración,
                            palpitaciones, vértigos, temblores...
                        </p>


                        <p class="text-gray-800 mb-5">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Malestar excesivo ante la separación del adulto.
                        </p>

                        <p class="text-gray-800 mb-5">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Ansiedad y preocupación exagerados sobre muchos acontecimientos.
                        </p>
                    </div>
                </div>

            </div>

            {{!-- Estado de Ánimo --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-warning shadow-lg lift mb-3 mb-md-7">
                    <div class="card-body px-8">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/estado-animo.png" alt="Estado de ánimo"
                                style="max-width: 9rem;">

                            <h2>Estado de Ánimo</h2>
                        </div>


                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Explosiones de cólera graves, recurrentes y desproporcionadas a la situación.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Le apetece relacionarse menos con otros. Está más irritable y/o triste.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Realiza comentarios negativos sobre sí mismo.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Sentimientos de culpa.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Ha cambiado de apetito o de ritmos de sueño.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Autolesiones.
                        </p>
                    </div>
                </div>


            </div>

            {{!-- Obsesiones y Compulsiones --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-primary shadow-lg lift mb-1 mb-md-7">
                    <div class="card-body">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/toc-infantil.png" alt="Eliminación"
                                style="max-width: 9rem;">

                            <h2>Obsesiones</h2>
                        </div>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Pensamientos, impulsos o imágenes recurrentes y persistentes.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Comportamientos repetitivos que tiene que mantener para reducir o prevenir la ansiedad.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Preocupación excesiva por algún defecto físico real o imaginado.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Incapacidad para deshacerse de objetos.
                        </p>

                    </div>
                </div>



            </div>

            {{!-- Relación con Otros --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-primary shadow-lg lift mb-5 mb-md-7">
                    <div class="card-body">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/relacion-otros.png" alt="Alimentación"
                                style="max-width: 9rem;">

                            <h2>Relación con Otros</h2>
                        </div>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Dificultad para hablar en situaciones sociales específicas.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Dificultad para decir que no.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Acoso escolar.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Mutismo selectivo.
                        </p>

                    </div>
                </div>

            </div>

            {{!-- Respuestas Motoras --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-warning shadow-lg lift mb-3 mb-md-7">
                    <div class="card-body px-8">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/sueño.png" alt="Sueño" style="max-width: 9rem;">

                            <h2>Respuestas Motoras</h2>
                        </div>


                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Movimientos repetitivos, que parecen impulsivos y no funcionales.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Tics motores y/o vocales.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Tartamudeo.
                        </p>
                    </div>
                </div>


            </div>

            {{!--  Hiperactividad e Inatención --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-primary shadow-lg lift mb-3 mb-md-7">
                    <div class="card-body px-8">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/sueño.png" alt="Sueño" style="max-width: 9rem;">

                            <h2>Hiperactividad e Inatención</h2>
                        </div>


                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Tiene dificultad para estar quieto en varios entornos: se mueve, no juega tranquilamente,
                            habla en exceso, responde antes de haber escuchado la pregunta.
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Es muy descuidado, le cuesta mantener la atención incluso en tareas lúdicas, parece que no
                            escucha.
                        </p>

                    </div>
                </div>


            </div>

            {{!-- Aprendizaje --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-warning shadow-lg lift mb-3 mb-md-7">
                    <div class="card-body px-8">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/sueño.png" alt="Sueño" style="max-width: 9rem;">

                            <h2>Aprendizaje</h2>
                        </div>


                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Bajo rendimiento escolar global o en un área específica (lectoescritura, cálculo).
                        </p>

                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Rechazo escolar.
                        </p>


                        <p class="text-gray-800">
                            <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                <i class="fe fe-check"></i>
                            </span>

                            Ansiedad ante los exámenes.
                        </p>


                    </div>
                </div>


            </div>

        </div>
    </div>
</section>