<section class="pt-12 bg-gradient-light">

    <div class="container-fluid px-6 px-md-10">
        <div class="row align-items-center justify-content-center pb-8">

            <div class="col-12 text-center pt-2 mb-9">
                <h1 class="display-3 text-uppercase"> Terapia para
                    <span class="font-weight-bold">
                        Niños y Adolescentes
                    </span>
                </h1>
            </div>

            {{!--  Feature 1 --}}
            <div class="col-12 col-md-6 px-0 px-md-9 mb-10" style="font-size: 1.35rem;">
                <div class="mb-4">
                    <h2 class="display-4 text-primary">Guía en la educación parental</h2>
                    <p>
                        Educar a nuestros hijos puede ser difícil en algunos momentos.
                    </p>

                    <p>
                        <span class="font-weight-bold">
                            Implica tomar muchas decisiones con mayor o menor relevancia en su día a día presente o
                            futuro.
                        </span>
                        Algunas que tomamos por ellos en función de lo que creemos que es mejor. Otras, tomadas en
                        conjunto tras un proceso de negociación más o menos sencillo y del que podemos acabar más o
                        menos satisfechos.

                    </p>

                    <p>
                        <span class="font-weight-bold">
                            Es normal por tanto atascarse o tener dudas en algún momento de su crecimiento y
                            equivocarnos,
                            como ocurre en otras áreas de nuestra vida.
                        </span> <br>
                        Solemos tratar a los demás como nos han enseñado y hemos aprendido en nuestra propia historia de
                        vida.

                    </p>
                </div>

            </div>
    
            {{!-- Ilustración 1 --}}
            <div class="col-12 col-md-6">
                <img src="/img/services/infantojuvenil1.png" class="mt-n9" alt="Guía en la educación parental"
                    style="max-width: 47rem;">
            </div>

            {{!-- Ilustración 2 --}}
            <div class="col-12 col-md-5">
                <img src="/img/services/infantojuvenil2.png" class="img-fluid" alt="En qué podemos ayudarte"
                    style="max-width: 40rem;">
            </div>

            {{!-- Feature 2 --}}
            <div class="col-12 col-md-7 px-0 px-md-9" style="font-size: 1.35rem;">
                <div class="text-left">

                    <h2 class="display-4 text-warning">¿En qué podemos ayudarte?</h2>

                    <p class="mb-7">Desde la psicología cognitivo conductual te podemos...</p>

                    {{!-- Orientar --}}
                    <div class="d-flex">

                        <div class="icon text-warning">
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z" />
                                    <path
                                        d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z"
                                        fill="#335EEA" opacity=".3" />
                                    <path
                                        d="M10.875 15.75a.946.946 0 01-.67-.287l-1.918-1.917a.926.926 0 010-1.342c.384-.383 1.007-.383 1.342 0l1.246 1.246 3.162-3.162a.926.926 0 011.342 0 .926.926 0 010 1.341l-3.833 3.834a.946.946 0 01-.671.287zM11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z"
                                        fill="#335EEA" />
                                </g>
                            </svg>
                        </div>

                        <div class="ml-5">

                            <p class="mb-6 mb-md-0">
                                <span class="font-weight-bold h3">
                                    Orientar en decisiones importantes
                                </span> sobre la crianza del menor y mediar en aquellas que generen
                                conflicto. <br> Esto nos permitirá actuar con conocimiento y tranquilidad fomentando una
                                convivencia agradable.
                            </p>

                        </div>

                    </div>

                    {{!-- Aclarar --}}
                    <div class="d-flex my-6">

                        <div class="icon text-warning">
                            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z" />
                                    <path fill="#335EEA" opacity=".3" d="M5 15l-2 6.5 6.5-2z" />
                                    <path
                                        d="M13 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S3 17.523 3 12 7.477 2 13 2zM7.168 13.555C8.678 15.819 10.646 17 13 17c2.354 0 4.322-1.18 5.832-3.445a1 1 0 10-1.664-1.11C16.01 14.181 14.646 15 13 15c-1.646 0-3.01-.82-4.168-2.555a1 1 0 10-1.664 1.11z"
                                        fill="#335EEA" />
                                </g>
                            </svg>
                        </div>

                        <div class="ml-5">

                            <p class="mb-6 mb-md-0">
                                <span class="font-weight-bold h3">
                                    Aclarar
                                </span> si algunos comportamientos o cambios sobre los que tengas dudas son esperables o
                                no en su proceso de maduración. <br> Así sabemos si nuestra labor es simplemente esperar
                                a que sigan su evolución normal y apoyarles en el recorrido o por el contrario
                                proporcionarle las herramientas necesarias de manera profesional.
                            </p>

                        </div>

                    </div>

                    {{!-- Intervenir --}}
                    <div class="d-flex">

                        <div class="icon text-warning">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z" />
                                    <circle fill="#335EEA" opacity=".3" cx="12" cy="12" r="10" />
                                    <rect fill="#335EEA" x="11" y="7" width="2" height="8" rx="1" />
                                    <rect fill="#335EEA" x="11" y="16" width="2" height="2" rx="1" />
                                </g>
                            </svg>
                        </div>

                        <div class="ml-5">

                            <p class=" mb-6 mb-md-0">
                                <span class="font-weight-bold h3">
                                    Intervenir a tiempo
                                </span> cuando el menor no cuente con los recursos suficientes para gestionar
                                determinadas situaciones. <br> Mejoraremos su bienestar y evitaremos conductas que les
                                puedan penalizar en su futuro.
                            </p>

                        </div>

                    </div>

                </div>
            </div>


        </div>


    </div>


</section>


<div class="position-relative">
    <div class="shape shape-top shape-fluid-x svg-shim text-white">
        <svg viewBox="0 0 2880 72" fill="none">
            <path
                d="M2880 0H0V54.1118H720C720 54.1118 1009.42 94.3602 1425 54.1118C1841.5 16.3789 2160 54.1118 2160 54.1118H2880V0Z"
                fill="currentColor" />
        </svg>
    </div>
</div>


{{!-- Cartas --}}
<section class="pt-4" style="background: #e4f3f48a;">
    <div class="container-fluid px-4 px-md-6 px-lg-10">

        <h2 class="display-4 text-primary text-center text-uppercase font-weight-bold pt-9 pb-4">
            Áreas de mejora
        </h2>

        <div class="row align-items-center justify-content-center py-7">

            {{!-- Ansiedad --}}
            <div class="col-12 col-md-6 col-lg-6">

                <div class="card card-border card-border-xl border-primary shadow mb-6 mb-md-10">
                    <div class="card-body">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/ansiedad.png" alt="Ansiedad" style="max-width: 9rem;">

                            <h2>Ansiedad</h2>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#ansiedad" role="button" aria-expanded="false" aria-controls="ansiedad">

                                <div class="text-warning" style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        <div class="collapse text-gray-800 mt-3" id="ansiedad">

                            <p class="mb-5">
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                <span class="font-weight-bold">Fobias específicas:</span> aversión o
                                rechazo extremo al colegio, fobia a
                                hablar en público, preocupación
                                extrema por la evaluación de los
                                demás.
                            </p>

                            <p class="mb-5">
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                <span class="font-weight-bold">Miedo desmesurado un estímulo concreto:</span> la sangre
                                o
                                inyecciones, a determinados espacios o
                                animales, etc.
                            </p>

                            <p class="mb-5">
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                <span class="font-weight-bold">Respuesta intensa de ansiedad:</span> sudoración,
                                palpitaciones, vértigos, temblores...
                            </p>


                            <p class="mb-5">
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Malestar excesivo ante la separación del adulto.
                            </p>

                            <p class="mb-5">
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Ansiedad y preocupación exagerados sobre muchos acontecimientos.
                            </p>

                        </div>

                    </div>
                </div>

            </div>

            {{!-- Estado de Ánimo --}}
            <div class="col-12 col-md-6 col-lg-6">

                <div class="card card-border card-border-xl border-primary shadow mb-6 mb-md-10">
                    <div class="card-body px-8">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/estado-animo-infanto.png" alt="Estado de ánimo"
                                style="max-width: 9rem;">

                            <h2>Estado de Ánimo</h2>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#estadoAnimo" role="button" aria-expanded="false" aria-controls="estadoAnimo">

                                <div class="text-warning" style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        <div class="collapse text-gray-800 mt-3" id="estadoAnimo">
                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Explosiones de cólera graves, recurrentes y desproporcionadas a la situación.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Le apetece relacionarse menos con otros. Está más irritable y/o triste.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Realiza comentarios negativos sobre sí mismo.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Sentimientos de culpa.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Ha cambiado de apetito o de ritmos de sueño.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Autolesiones.
                            </p>
                        </div>

                    </div>
                </div>

            </div>

            {{!-- Alimentación --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-primary shadow mb-6 mb-md-10">
                    <div class="card-body">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/alimentacion.png" alt="Alimentación"
                                style="max-width: 9rem;">

                            <h2>Alimentación</h2>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#alimentacion" role="button" aria-expanded="false" aria-controls="alimentacion">

                                {{!-- Chevron --}}
                                <div class="text-warning" style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>

                            </a>
                        </div>



                        <div class="collapse text-gray-800 mt-3" id="alimentacion">
                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Anorexia y bulimia nervosa.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Trastorno por atracón.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Restricción de la ingesta alimentaria.
                            </p>
                        </div>

                    </div>
                </div>

            </div>

            {{!-- Sueño --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-primary shadow mb-6 mb-md-10">
                    <div class="card-body px-8">

                        {{!-- Título y Collapse --}}
                        <div class="text-center">
                            <img class="mb-2" src="/img/services/sueño.png" alt="Sueño" style="max-width: 9rem;">

                            <h2>Sueño</h2>


                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#sueno" role="button" aria-expanded="false" aria-controls="sueno">

                                <div class="text-warning" style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        <div class="collapse text-gray-800 mt-3" id="sueno">
                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Pesadillas recurrentes.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Dificultades para dormir solo.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Insomnio.
                            </p>
                        </div>


                    </div>
                </div>

            </div>

            {{!-- Eliminación --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-primary shadow mb-6 mb-md-10">
                    <div class="card-body">

                        {{!-- Título y Collapse --}}
                        <div class="text-center">
                            <img class="mb-2" src="/img/services/eliminacion.png" alt="Eliminación"
                                style="max-width: 9rem;">

                            <h2>Eliminación</h2>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#eliminacion" role="button" aria-expanded="false" aria-controls="eliminacion">

                                <div class="text-warning" style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        {{!-- Texto --}}
                        <div class="collapse text-gray-800 mt-3" id="eliminacion">

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Emisión repetida de orina (enuresis).
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Evacuación de heces en lugares inadecuados (encopresis).
                            </p>

                        </div>

                    </div>
                </div>


            </div>

            {{!-- Aprendizaje --}}
            <div class="col-12 col-md-6 col-lg-6">

                <div class="card card-border card-border-xl border-primary shadow mb-6 mb-md-10">
                    <div class="card-body px-8">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/aprendizaje.png" alt="Aprendizaje"
                                style="max-width: 14rem;">

                            <h2>Aprendizaje</h2>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#aprendizaje" role="button" aria-expanded="false" aria-controls="aprendizaje">

                                <div class="text-warning" style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        <div class="collapse text-gray-800 mt-3" id="aprendizaje">

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Disfunciones que afectan a la memoria, atención o lenguaje.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Déficit en lectoescritura.
                            </p>


                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Dificultades en la capacidad ejecutiva, es decir, para organizar la información,
                                planificar su comportamiento hacia una meta, toma de decisiones.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Rechazo al colegio: hace comentarios negativos al respecto constantemente, lo evita,
                                monta pataletas antes o al ir frecuentemente. Muestra un comportamiento disruptivo con
                                los profesores.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Ansiedad elevada ante los exámenes.
                            </p>

                        </div>

                    </div>
                </div>

            </div>

            {{!-- Obsesiones y Compulsiones --}}
            <div class="col-12 col-md-6 col-lg-6">

                <div class="card card-border card-border-xl border-primary shadow mb-6 mb-md-10">
                    <div class="card-body">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/toc-infantil.png" alt="Eliminación"
                                style="max-width: 9.5rem;">

                            <h2>Obsesiones</h2>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#obsesiones" role="button" aria-expanded="false" aria-controls="obsesiones">

                                <div class="text-warning" style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        <div class="collapse text-gray-800 mt-3" id="obsesiones">
                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Pensamientos, impulsos o imágenes recurrentes y persistentes.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Comportamientos repetitivos que tiene que mantener para reducir o prevenir la ansiedad.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Preocupación excesiva por algún defecto físico real o imaginado.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Incapacidad para deshacerse de objetos.
                            </p>
                        </div>

                    </div>
                </div>

            </div>

            {{!-- Relación con Otros --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-primary shadow mb-6">
                    <div class="card-body">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/relacion-otros.png" alt="Alimentación"
                                style="max-width: 9rem;">

                            <h2>Relación con Otros</h2>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#relacionOtros" role="button" aria-expanded="false" aria-controls="relacionOtros">

                                <div class="text-warning" style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        <div class="collapse text-gray-800 mt-3" id="relacionOtros">
                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Dificultad para hablar en situaciones sociales específicas.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Dificultad para decir que no.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Acoso escolar.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Mutismo selectivo.
                            </p>
                        </div>

                    </div>
                </div>

            </div>

            {{!-- Respuestas Motoras --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-primary shadow mb-6">
                    <div class="card-body px-8">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/respuestas-motoras.png" alt="Respuestas Motoras"
                                style="max-width: 14rem;">

                            <h2>Respuestas Motoras</h2>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#respuestas" role="button" aria-expanded="false" aria-controls="respuestas">

                                <div class="text-warning" style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>

                        <div class="collapse text-gray-800 mt-3" id="respuestas">
                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Movimientos repetitivos, que parecen impulsivos y no funcionales.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Tics motores y/o vocales.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Tartamudeo.
                            </p>
                        </div>

                    </div>
                </div>

            </div>

            {{!--  Hiperactividad e Inatención --}}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card card-border card-border-xl border-primary shadow mb-6">
                    <div class="card-body px-8">

                        <div class="text-center">
                            <img class="mb-2" src="/img/services/hiperactividad.png" alt="Sueño"
                                style="max-width: 14rem;">

                            <h2>Hiperactividad</h2>

                            <a class="align-items-center text-reset text-decoration-none" data-toggle="collapse"
                                href="#hiperactividad" role="button" aria-expanded="false"
                                aria-controls="hiperactividad">

                                <div class="text-warning" style="font-size: 1.35rem;">
                                    <span class="">Ver más</span>

                                    <span class="collapse-chevron">
                                        <i class="fe fe-chevron-down ml-2"></i>
                                    </span>

                                </div>
                            </a>
                        </div>


                        <div class="collapse text-gray-800 mt-3" id="hiperactividad">
                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Tiene dificultad para estar quieto en varios entornos: se mueve, no juega
                                tranquilamente,
                                habla en exceso, responde antes de haber escuchado la pregunta.
                            </p>

                            <p>
                                <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-3">
                                    <i class="fe fe-check"></i>
                                </span>

                                Es muy descuidado, le cuesta mantener la atención incluso en tareas lúdicas, parece que
                                no
                                escucha.
                            </p>
                        </div>

                    </div>
                </div>

            </div>

            <div class="text-center text-uppercase py-5">
                <a href="/reserva" class="btn btn-warning text-white btn-lg shadow lift mr-1" style="font-size: 1.4rem;">
                    Reserva tu cita
                </a>
            </div>


        </div>
    </div>
</section>

<div class="position-relative">
    <div class="shape shape-top shape-fluid-x svg-shim" style="color: #e4f3f48a;">
        <svg viewBox="0 0 2880 72" fill="none">
            <path
                d="M2880 0H0V54.1118H720C720 54.1118 1009.42 94.3602 1425 54.1118C1841.5 16.3789 2160 54.1118 2160 54.1118H2880V0Z"
                fill="currentColor" />
        </svg>
    </div>
</div>


{{!-- Abordaje integral --}}
<section>
    <div class="container-fluid px-6 px-md-10 text-left pt-12 pb-9">

        <div class="row">

            <div class="col-12 col-md-6" style="font-size: 1.35rem;">

                <h2 class="display-4 text-primary">
                    Abordaje integral
                </h2>

                <p>
                    Si los tutores del menor están de acuerdo, trabajamos conjuntamente con aquellos profesionales
                    (orientadores
                    escolares, médicos, etc) y personas de su entorno.
                </p>

                <p>
                    De esta forma garantizamos mayor rapidez en conseguir los resultados y que éstos sean aplicables a
                    los
                    distintos contextos donde participa el menor en su día a día.
                </p>
            </div>

            <div class="col-12 col-md-6">
                <img src="/img/services/abordaje.png" class="mt-n5 ml-11" alt="Abordaje integral"
                    style="max-width: 25rem;">
            </div>

        </div>

    </div>
</section>


{{!-- Otras especialidades --}}
<section>
    <div class="container-fluid px-6 px-md-10 py-9">

        <h2 class="display-4 text-center">
            Otras especialidades que trabajamos
        </h2>

        <div class="row align-items-center">

            {{!-- Adultos --}}
            <div class="col-12 col-md-4 text-center" data-aos="fade-up">

                <a href="/adultos">

                    <img src="/img/illustrations/adultos.svg" alt="Terapia psicológica para Adultos"
                        style="max-width: 15rem;">

                    <h2 class="text-primary">Adultos</h2>
                </a>

            </div>

            {{!-- Tercera edad --}}
            <div class="col-12 col-md-4 text-center" data-aos="fade-up">
                <a href="/tercera-edad">

                    <img src="/img/illustrations/tercera-edad.svg" alt="Terapia psicológica para la Tercera edad"
                        style="max-width: 15rem;">

                    <h2 class="text-primary">Tercera Edad</h2>
                </a>
            </div>

            {{!-- Parejas --}}
            <div class="col-12 col-md-3 text-center" data-aos="fade-up">
                <a href="/parejas">

                    <img src="/img/illustrations/parejas.svg" alt="Terapia psicológica Parejas"
                        style="max-width: 15rem;">

                    <h2 class="text-primary">Parejas</h2>
                </a>
            </div>

        </div> <!-- / .row -->

    </div>
</section>

{{!-- Shape --}}
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 56" fill="none">
            <path
                d="M720 28H0V56H995.5H1639.5H2880V28H2160C2160 28 1874 -9.82909e-10 1440 0C1006 9.829e-10 720 28 720 28Z"
                fill="currentColor" />
        </svg>
    </div>
</div>