<section class="pt-12">

    <div class="container-fluid px-6 px-md-10">
        <div class="row align-items-center justify-content-center mb-8">

            <div class="col-12 text-center pt-2 mb-7">
                <h1 class="display-3 text-uppercase"> Terapia para
                    <span class="font-weight-bold">
                        TERCERA EDAD
                    </span>
                </h1>
            </div>

            {{!-- Feature 1 --}}
            <div class="col-12 col-md-7 px-0 px-md-9" style="font-size: 1.3rem;">
                <div class="mb-4">
                    <h2 class="display-4 text-primary">Una etapa vital particular.</h2>
                    <p>

                        El envejecimiento conlleva una serie de cambios físicos, cognitivos, emocionales y
                        sociales que varían según la persona y su historia de vida.

                        <br>
                        <br>

                        Nuestras estructuras mutan con el paso del tiempo en función de nuestra herencia y el estilo de
                        vida que llevamos (cuán estimulante a nivel cognitivo es la actividad diaria que realizamos, la
                        frecuencia con la que realizamos ejercicio o los hábitos de alimentación que tenemos).

                    </p>

                    <p>
                        Como consecuencia de esta evolución, nuestro cuerpo modifica su rendimiento. Por eso, puede que
                        por ejemplo necesitemos más tiempo o esfuerzo para realizar un hábito que antes hacíamos sin
                        dificultad. También
                        <span class="font-weight-bold">
                            nuestro sistema de prioridades cambia y somos más selectivos o eficaces a la
                            hora de elegir en qué emplear nuestro tiempo.
                        </span>
                        Solo que a veces cuesta ver las ventajas que la
                        experiencia nos ha dado.
                    </p>
                </div>

            </div>

            {{!-- Ilustración --}}
            <div class="col-12 col-md-5">
                <img src="/img/services/tercera-edad2.png" class="" alt="Una etapa vital particular"
                    style="max-width: 32rem;">
            </div>


        </div>

    </div>
</section>

<div class="position-relative">
    <div class="shape shape-top shape-fluid-x svg-shim text-white">
        <svg viewBox="0 0 2880 72" fill="none">
            <path
                d="M2880 0H0V54.1118H720C720 54.1118 1009.42 94.3602 1425 54.1118C1841.5 16.3789 2160 54.1118 2160 54.1118H2880V0Z"
                fill="currentColor" />
        </svg>
    </div>
</div>

{{!-- Áreas de mejora --}}
<section class="py-6" style="background: #fdf7f2;">
    <div class="container">

        <h2 class="display-4 text-warning text-center text-uppercase font-weight-bold pt-9 pb-6">
            Áreas de mejora
        </h2>

        <div class="row">
            <div class="col-12">

                {{!-- Deterioro Cognitivo --}}
                <div class="card card-row shadow-light-lg mb-6">
                    <div class="row no-gutters">

                        <a class="col-12 col-md-5 order-md-2 bg-cover card-img-right"
                            style="background-image: url(/img/services/deterioro.jpg);" href="#!">

                            <!-- Image (placeholder) -->
                            <img src="/img/services/deterioro.jpg" alt="..." class="img-fluid d-md-none invisible">

                            <!-- Shape -->
                            <div class="shape shape-left shape-fluid-y svg-shim text-white d-none d-md-block">
                                <svg viewBox="0 0 112 690" fill="none">
                                    <path d="M0 0h62.759v172C38.62 384 112 517 112 517v173H0V0z" fill="currentColor" />
                                </svg>
                            </div>

                        </a>

                        <div class="col-12 col-md-7 order-md-1">


                            <a class="card-body" href="#!">

                                <h2>
                                    Deterioro Cognitivo
                                </h2>

                                <div class="text-gray-800 mt-5" style="font-size: 1.3rem;">
                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Pérdidas de atención y/o memoria.
                                    </p>

                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Alteraciones en el razonamiento, planificación e inhibición del comportamiento:
                                        es más impulsivo que antes, hace comentarios no apropiados al contexto, está más
                                        apático que antes, parece otro.
                                    </p>

                                </div>

                            </a>

                        </div>

                    </div> <!-- / .row -->
                </div>

                {{!-- Estado de Ánimo --}}
                <div class="card card-row shadow-light-lg mb-6">
                    <div class="row no-gutters">

                        <a class="col-12 col-md-5 bg-cover card-img-left"
                            style="background-image: url(/img/services/estado-tercera.jpg);" href="#!">

                            <!-- Image (placeholder) -->
                            <img src="/img/services/estado-tercera.jpg" alt="..." class="img-fluid d-md-none invisible">

                            <!-- Shape -->
                            <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
                                <svg viewBox="0 0 112 690" fill="none">
                                    <path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor" /></svg>
                            </div>

                        </a>

                        <div class="col-12 col-md-7">

                            <a class="card-body" href="#!">

                                <h2>
                                    Estado de Ánimo
                                </h2>

                                <div class="text-gray-800 mt-5" style="font-size: 1.3rem;">
                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Irritabilidad, tristeza, llanto.
                                    </p>

                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Dificultad para continuar con el día a día tras la pérdida de un ser querido.
                                    </p>

                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Sentimientos de soledad, de ser una carga.
                                    </p>


                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Disminución del cuidado personal.
                                    </p>
                                </div>

                            </a>


                        </div>

                    </div>
                </div>

                {{!-- Familia --}}
                <div class="card card-row shadow-light-lg mb-6">
                    <div class="row no-gutters">

                        <a class="col-12 col-md-5 order-md-2 bg-cover card-img-right"
                            style="background-image: url(/img/services/familia.jpg);" href="#!">

                            <!-- Image (placeholder) -->
                            <img src="/img/services/familia.jpg" alt="..." class="img-fluid d-md-none invisible">

                            <!-- Shape -->
                            <div class="shape shape-left shape-fluid-y svg-shim text-white d-none d-md-block">
                                <svg viewBox="0 0 112 690" fill="none">
                                    <path d="M0 0h62.759v172C38.62 384 112 517 112 517v173H0V0z" fill="currentColor" />
                                </svg>
                            </div>

                        </a>
                        <div class="col-12 col-md-7 order-md-1">

                            <!-- Body -->
                            <a class="card-body" href="#!">

                                <!-- Heading -->
                                <h2>
                                    Familia
                                </h2>

                                <div class="text-gray-800 mt-5" style="font-size: 1.3rem;">
                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Problemas para llegar a acuerdos.
                                    </p>

                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Comentarios agresivos.
                                    </p>

                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Dificultades en la toma de decisiones.
                                    </p>

                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Falta de asertividad: dificultad para hacer respetar sus deseos, realizar
                                        peticiones.
                                    </p>

                                </div>

                            </a>

                        </div>

                    </div> <!-- / .row -->
                </div>

                {{!-- Pensamientos --}}
                <div class="card card-row shadow-light-lg mb-6">
                    <div class="row no-gutters">

                        <a class="col-12 col-md-5 bg-cover card-img-left"
                            style="background-image: url(/img/services/pensamientos.jpg);" href="#!">

                            <!-- Image (placeholder) -->
                            <img src="/img/services/pensamientos.jpg" alt="..." class="img-fluid d-md-none invisible">

                            <!-- Shape -->
                            <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
                                <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor" /></svg>
                            </div>

                        </a>

                        <div class="col-12 col-md-7">

                            <!-- Body -->
                            <a class="card-body" href="#!">

                                <!-- Heading -->
                                <h2>
                                    Pensamientos
                                </h2>

                                <div class="text-gray-800 mt-5" style="font-size: 1.3rem;">
                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Preocupaciones excesivas.
                                    </p>

                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Pensamientos recurrentes sobre un tema concreto (enfermedad, muerte).
                                    </p>

                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Pensamientos negativos sobre uno mismo, posibles peligros.
                                    </p>
                                </div>

                            </a>


                        </div>

                    </div>
                </div>

                {{!-- Relación con los Otros --}}
                <div class="card card-row shadow-light-lg mb-6">
                    <div class="row no-gutters">

                        <a class="col-12 col-md-5 order-md-2 bg-cover card-img-right"
                            style="background-image: url(/img/services/relacion-tercera.jpg);" href="#!">

                            <!-- Image (placeholder) -->
                            <img src="/img/services/relacion-tercera.jpg" alt="..."
                                class="img-fluid d-md-none invisible">

                            <!-- Shape -->
                            <div class="shape shape-left shape-fluid-y svg-shim text-white d-none d-md-block">
                                <svg viewBox="0 0 112 690" fill="none">
                                    <path d="M0 0h62.759v172C38.62 384 112 517 112 517v173H0V0z" fill="currentColor" />
                                </svg>
                            </div>

                        </a>
                        <div class="col-12 col-md-7 order-md-1">

                            <!-- Body -->
                            <a class="card-body" href="#!">

                                <!-- Heading -->
                                <h2>
                                    Relación con los Otros
                                </h2>

                                <div class="text-gray-800 mt-5" style="font-size: 1.3rem;">
                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Quejas frecuentes.
                                    </p>

                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Reducción de la actividad social respecto a otras ocasiones, (aislamiento).
                                    </p>

                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Problemas de agresividad.
                                    </p>


                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Comentarios inoportunos.
                                    </p>

                                </div>

                            </a>

                        </div>

                    </div> <!-- / .row -->
                </div>

                {{!-- Sueño --}}
                <div class="card card-row shadow-light-lg mb-6">
                    <div class="row no-gutters">

                        <a class="col-12 col-md-5 bg-cover card-img-left"
                            style="background-image: url(/img/services/sueño.jpg);" href="#!">

                            <!-- Image (placeholder) -->
                            <img src="/img/services/sueño.jpg" alt="..." class="img-fluid d-md-none invisible">

                            <!-- Shape -->
                            <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
                                <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor" /></svg>
                            </div>

                        </a>

                        <div class="col-12 col-md-7">

                            <!-- Body -->
                            <a class="card-body" href="#!">

                                <!-- Heading -->
                                <h2>
                                    Sueño
                                </h2>

                                <div class="text-gray-800 mt-5" style="font-size: 1.3rem;">
                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Preocupaciones por la noche.
                                    </p>

                                    <p>
                                        <span class="badge badge-rounded-circle badge-warning-soft mt-1 mr-3">
                                            <i class="fe fe-check"></i>
                                        </span>

                                        Dificultades para conciliar o mantener el sueño.
                                    </p>
                                </div>

                            </a>


                        </div>

                    </div>
                </div>


            </div>


        </div>

        <div class="text-center text-uppercase py-5">
            <a href="/reserva" class="btn btn-primary btn-lg shadow lift mr-1" style="font-size: 1.4rem;">
                Reserva tu cita
            </a>
        </div>
    </div>
</section>


<div class="position-relative">
    <div class="shape shape-top shape-fluid-x svg-shim" style="color: #fdf7f2;">
        <svg viewBox="0 0 2880 72" fill="none">
            <path
                d="M2880 0H0V54.1118H720C720 54.1118 1009.42 94.3602 1425 54.1118C1841.5 16.3789 2160 54.1118 2160 54.1118H2880V0Z"
                fill="currentColor" />
        </svg>
    </div>
</div>


<section class="pt-12">

    <div class="container-fluid px-6 px-md-10">
        <div class="row align-items-center justify-content-center mb-8">

            {{!-- Ilustración --}}
            <div class="col-12 col-md-5">
                <img src="/img/services/tercera-edad1.png" class="" alt="Una etapa v" style="max-width: 34rem;">
            </div>

            {{!-- Feature 2 --}}
            <div class="col-12 col-md-7 px-0 px-md-9" style="font-size: 1.3rem;">
                <div class="mb-4">
                    <h2 class="display-4 text-primary mb-7">La importancia de <br> <span data-toggle="typed"
                            data-options='{"strings": ["llegar a acuerdos.", "alargar la mejor calidad de vida posible.", "respetar sus deseos."]}'></span>
                    </h2>

                    <p>
                        Cuando existe un <span class="font-weight-bold">deterioro cognitivo o físico</span> en nuestros
                        familiares, es difícil gestionar
                        algunas situaciones como las quejas, la apatía, la perseverancia o la agresividad.
                    </p>

                    <p>
                        Es normal tener dudas respecto al grado en que siguen manteniendo su criterio para tomar
                        decisiones que les impliquen directa o indirectamente.
                    </p>

                    <p>
                        Este tema genera controversia y debate entre los familiares, teniendo en cuenta que cada uno
                        podemos tener un punto de vista diferente y estamos hablando de una persona cuya salud nos
                        importa.
                    </p>

                    <p>
                        Si te encuentras en una situación similar, podemos ayudaros a que este proceso sea menos
                        complicado.
                    </p>
                </div>

            </div>

            <blockquote class="blockquote pt-8">
                <p class="text-center text-warning mb-6" style="font-size: 2.0rem;">
                    ¿Y si disfrutamos de lo que podemos hacer y aprendemos <br> a compensar aquello que más nos
                    cuesta?
                </p>

                <p class="text-center px-0 px-md-15" style="font-size: 1.3rem;">
                    Puede que en este período se pierdan ciertas capacidades, o personas queridas, y que estos
                    eventos lleguen a impactar tanto en el estado de ánimo que ambos se convierten en una
                    interferencia para el bienestar del día a día. No obstante, envejecimiento no siempre implica
                    deterioro.
                </p>

            </blockquote>

        </div>
    </div>

</section>

{{!-- Shape --}}
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim" style="color: #e4f3f48a;">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor" />
        </svg>
    </div>
</div>

{{!-- Otras especialidades --}}
<section style="background: #e4f3f48a;">
    <div class="container-fluid px-6 px-md-10 py-9">

        <h2 class="display-4 text-center">
            Otras especialidades que trabajamos
        </h2>

        <div class="row align-items-center">

            {{!-- Adultos --}}
            <div class="col-12 col-md-4 text-center" data-aos="fade-up">

                <a href="/adultos">

                    <img src="/img/illustrations/adultos.svg" alt="Terapia psicológica para Adultos"
                        style="max-width: 15rem;">

                    <h2 class="text-primary">Adultos</h2>
                </a>

            </div>

            {{!-- Tercera edad --}}
            <div class="col-12 col-md-4 text-center" data-aos="fade-up">
                <a href="/infantojuvenil">

                    <img src="/img/illustrations/infantojuvenil.svg" alt="Terapia psicológica para Niños y Adolescentes"
                        style="max-width: 15rem;">

                    <h2 class="text-primary">Infantojuvenil</h2>
                </a>
            </div>

            {{!-- Parejas --}}
            <div class="col-12 col-md-3 text-center" data-aos="fade-up">
                <a href="/parejas">

                    <img src="/img/illustrations/parejas.svg" alt="Terapia psicológica Parejas"
                        style="max-width: 15rem;">

                    <h2 class="text-primary">Parejas</h2>
                </a>
            </div>

        </div> <!-- / .row -->

    </div>
</section>

{{!-- Shape --}}
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 56" fill="none">
            <path
                d="M720 28H0V56H995.5H1639.5H2880V28H2160C2160 28 1874 -9.82909e-10 1440 0C1006 9.829e-10 720 28 720 28Z"
                fill="currentColor" />
        </svg>
    </div>
</div>