<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

    <!-- Libs CSS -->
    <link rel="stylesheet" href="/fonts/Feather/feather.css">
    <link rel="stylesheet" href="/css/admin.min.css">
    <link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">


    <title>{{title}}</title>
</head>

<body>

    {{> sidebar }}
    {{> topbar }}

    {{{ body }}}

    {{> scripts_admin }}

</body>

</html>