<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

    <!-- Libs CSS -->
    <link rel="stylesheet" href="/fonts/Feather/feather.css">


    <!-- Map -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="/css/admin.min.css">


    <title>{{title}}</title>
</head>

<body>

    

    {{{ body }}}



    {{> scripts_admin }}

</body>

</html>