<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

    <!-- Libs CSS -->
    <link rel="stylesheet" href="/fonts/Feather/feather.css">
    <link rel="stylesheet" href="/libs/aos/dist/aos.css">
    <link rel="stylesheet" href="/libs/highlightjs/styles/vs2015.css">
    <link rel="stylesheet" href="/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">


    <link rel="stylesheet" href="/css/theme.min.css">
    

    <title>{{title}}</title>
</head>

<body>

    {{> navbar }}

    {{{ body }}}

    {{> footer }}

    {{> scripts }}

</body>

</html>